body
{
  padding: 0;
  margin: 0;
  max-width: 1000px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 0px 4px 3px #666;
  -webkit-box-shadow: 0px 4px 3px #666;
  box-shadow: 0px 4px 3px #666;
}

a:link { color:#026; text-decoration:none }
a:visited { color:#300; text-decoration:none }
a:link:hover { color:#723; text-decoration:underline }
a:visited:hover { color:#723; text-decoration:underline }
a:link:active { color:#944; text-decoration:none }

img {
  border-width: 0px;
}

#heading a {
}
#heading {
  position: relative;
  -moz-box-shadow: 0px 3px 3px #666;
  -webkit-box-shadow: 0px 3px 3px #666;
  box-shadow: 0px 3px 3px #666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
#banner {
  padding: 5px;
  float: left;
  width: 50%;
}

#logo {
  font-size: 150%;
}

div#footer {
  padding-top: 40px;
}
div#footer .sponsor {
  float: right;
  margin-top:30px;
  padding-right: 25px;
  padding-left: 25px;
}
#heading-text {
  padding: 5px;
}

#error-list .error, #message-list .message {
  padding: 10px;
  margin: 20px 0px 10px 5px;
  width: 62%;
  clear: both;
}

#error-list .error {
  border: 2px solid red;
  background-color: #fff2f2;
}

#message-list .message {
  border: 2px solid green;
  background-color: #fff;
}

#message-list .message .title, #error-list .error .title {
  font-weight: bold;
}

#menu {
  float: right;
  right: 0px;
  top: 0px;
}
#menu {
  background-color: #333;
  font-size: 90%;
}
#menu .useridentifier {
  margin: 0; padding: 0;
  display: inline;
  float: left;
  text-decoration: none;
  background-color: #fff;
}
#menu ul {
  background-color: #228;
  color: #fff;
  margin: 0; padding: 0;
}
#menu ul li {
  display: inline;
}
#menu ul li a {
  float: left; text-decoration: none;
  color: white;
  padding: 4px 10px;
}
#menu ul li span {
  float: left; text-decoration: none;
  padding: 4px 10px;
}
#menu ul li a:visited {
  color: white;
}
#menu ul li a:hover, .menu ul li .current {
  color: #fff;
  background-color:#0b75b2;
}

#content {
  padding: 20px 10px 20px 10px;
  margin: 0px;
  clear: both;
}

#page-description {
  font-size: 140%;
  font-weight: bold;
  display: inline;
  padding: 2px 0px 2px 0px;
  border-bottom: 1px solid black;
}

.field-list {
  padding-bottom: 10px;
  margin: 10px 0px 5px 0px;
}

#front-page {
  padding: 10px;
}

#track-actions {
  width: 80%;
}

#track-actions actionlist {
  width: 30%;
  vertical-align: top;
}

table.list {
  margin: 10px;
  border-width: 1px;
  border-spacing: 5px;
  border-style: solid;
  border-color: gray;
  border-collapse: collapse;
  font-size: 75%;
}
table.list th {
  padding: 3px;
  background-color: #d0d0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  font-weight: bold;
  text-align: left;
}
table.list tr.odd {
  background-color: #e8e8d8;
}
table.list tr td {
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #bbb;
}

.field-label {
  color: #226;
  white-space: nowrap;
}
.field-value {
  color: #332;
  font-size: 95%;
}
.attribute-field {
  font-weight: bold;
}

.sect .sect-title {
  background-color: #ddd;
  color: #227;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 1px 5px 1px 5px;
  margin: 3px;
}

.undisclosed-title {
  background-image: url('../images/right_triangle.png');
  background-repeat: no-repeat;
  background-position: center left
}
.disclosed-title {
  background-image: url('../images/down_triangle.png');
  background-repeat: no-repeat;
  background-position: center left
}

.sect .sect-title a {
  margin-left: 9px;
}

.sect {
  margin: 20px 0px 10px 0px;
}

.infobox {
  padding: 8px 0px 8px 0px;
}

.infobox table.list {
    font-size: 95%;
}

.infobox .title {
    background-color: #ddd;
    color: #227;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1px 5px 1px 5px;
}

/* front page: */
.actionlist {
    font-weight: bold;
}

.actionlist .label {
    font-size: 110%;
    display: inline;
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid black;
}

.actionlist ul {
    padding: 8px;
    margin: 1em;
}
.actionlist ul li {
    list-style: none;
}

/* editing: */
div.submit {
    float: right;
}

div.edit_link {
    float: right;
}

span.error_constraint_required {
    color: red;
    font-size: 90%;
}

/* page navigation */
.page_nav_summary {
    font-size: 90%;
    margin: 10px 0px 5px 0px;
}
.page_nav_actions {
    font-size: 90%;
}
.page_nav_actions a:visited {
  color:#026; text-decoration:none;
}

.page_nav_no_link {
  color: #777;
}
.page_nav_link {
}
.page_nav_current {
    font-weight: bold;
}

.page_nav_number_link {
  border: 1px solid #aaa;
  background-color: #ddf;
}
.page_nav_number_current {
  font-weight: bold;
  border: 1px solid #666;
  background-color: #ddf;
}

#login {
    padding: 10px;
}
#logout {
    padding: 10px;
}

div.clearall {
  clear: both;
}

.curs-content {
  margin-top: 30px;
}

.annotation-start {
  margin-left: 30px;
  padding: 5px;
}

.annotation-start ul {
  margin: 0px;
  padding: 0px;
}

.annotation-start li {
  text-decoration: none; 
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.small-gene-list {
  background-color: #efa;
  float: right;
  font-size: 80%;
  position: relative;
  width: 10%;
  right: -10px;
  background-color: #cce;

}

.small-gene-list table {
  margin: 4px;
}

.small-gene-list .no-genes-message {
  font-size: 90%;
  margin: 10px;
}

.title {
  font-size: 100%;
  font-weight: bold;
  display: inline;
  border-bottom: 1px solid black;
}

.pub-title {
  float: right;
  width: 45%;
  font-size: 70%;
  margin: 10px 5px 5px 5px;
}

.email-address {
  font-style: italic;
  color: #666;
}

.long-action-link {
  margin: 5px;
}

.app_version {
  color: #aaa;
  font-size: 50%;
}

.current-gene {
  font-weight: bold;
}

.ui-autocomplete-loading { 
  background: white url('static/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
