body
{
  padding: 0;
  margin: 0;
  max-width: 1100px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; 
  color: #302226;
  font-size: 12pt;
  font-family: helvetica, "trebuchet MS", arial, sans-serif;
}

a:link { text-decoration:none; cursor:pointer; }
a:visited { text-decoration:none }
a:link:hover { text-decoration:underline }
a:visited:hover { text-decoration:underline }
a:link:active { text-decoration:none }

#heading a { color: black; }

button, input[type=submit] {
  background-color: #c00;
  color: white;
  border-color: #c00;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}

img {
  border-width: 0px;
}

#heading {
  position: relative;
  background-color: #eef;
  -moz-box-shadow: 0px 3px 3px #666;
  -webkit-box-shadow: 0px 3px 3px #666;
  box-shadow: 0px 3px 3px #666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
}
#heading .text {
  margin:0 auto;
  width: 60%;
  padding: 10px;
  font-size: 150%;
  font-weight: bold;
}
#heading .logo {
  padding: 5px;
  float: left;
  font-size: 150%;
  float: left;
  display: inline;
}

div#footer {
  padding-top: 40px;
}
div#footer .sponsor {
  float: right;
  margin-top:30px;
  padding-right: 25px;
  padding-left: 25px;
}

#error-list .error, #message-list .message, #notice-list .notice {
  padding: 10px;
  margin: 20px 0px 10px 5px;
  width: 62%;
  clear: both;
}

#notice-list .notice {
  border: 2px solid blue;
  background-color: white;
}

#error-list .error {
  border: 2px solid red;
  background-color: #fff2f2;
}

#message-list .message {
  border: 2px solid green;
  background-color: white;
}

#message-list .message .title, #error-list .error .title {
  font-weight: bold;
}

#menu {
  float: right;
  right: 0px;
  top: 0px;
}
#menu li a {
  background-color: #333;
  font-size: 90%;
}
#menu .useridentifier {
  margin: 0; padding: 0 8px 0 8px;
  display: inline;
  float: left;
  text-decoration: none;
}
#menu .useridentifier .logged-in-address {
  font-size: 80%;
}
#menu ul {
  background-color: #228;
  color: white;
  margin: 0; padding: 0;
}
#menu ul li {
  display: inline;
}
#menu ul li a {
  float: left; text-decoration: none;
  color: white;
  padding: 4px 10px;
  white-space: nowrap;
}
#menu ul li span {
  float: left; text-decoration: none;
  padding: 4px 10px;
  color: #666;
}
#menu ul li a:visited {
  color: white;
}
#menu ul li a:hover, .menu ul li .current {
  color: white;
  background-color:#0b75b2;
}

#content {
  padding: 15px;
  clear: both;
  -moz-box-shadow: 0px 4px 3px #666;
  -webkit-box-shadow: 0px 4px 3px #666;
  box-shadow: 0px 4px 3px #666;
}

#page-description {
  font-size: 120%;
  font-weight: bold;
  display: block;
  margin: 5px 0px 15px 0px;
  clear: both;
  float: left;
  border-bottom: 2px solid black;
}

#right-title {
  font-weight: bold;
  display: block;
  padding: 5px;
  float: right;
}

#curs-page-description {
  font-size: 130%;
  padding: 7px;
  display: block;
  text-align: center;
}

#breadcrumb-previous-button {
  margin-right: 6px;
}

#breadcrumbs {
  padding-bottom: 20px;
  margin: 0px;
  clear: both;
  float: left;
  right: 0px;
  top: 0px;
  font-size: 80%;
  margin-left: -10px;
  white-space: nowrap;
}
#breadcrumbs ul {
  margin: 0; padding: 0;
  display: inline;
  float: left;
}

#breadcrumbs ul li, #breadcrumbs button {
}

#breadcrumbs ul li, #breadcrumbs .breadcrumbs-link {
  padding-left: 11px;
  background-image: url(../images/right_empty_triangle.png);
  background-repeat: no-repeat;
  background-position: top left;
}

#breadcrumbs ul li {
  list-style-type: none;
}
#breadcrumbs .breadcrumbs-link {
  margin-left: 10px;
}
#breadcrumbs ul li a {
  text-decoration: none;
}
#breadcrumbs ul li a:hover, . ul li .current {
  background-color:#0b75b2;
}

#curs-contact-page-link {
  padding: 10px;
  margin-right: 20px;
  clear: right;
  float: right;
  font-size: 80%;
  white-space: nowrap;
}
.dialog-submit {
  clear: right;
  float: right;
}

a.pomcur-toggle-button {
  margin-left: 5px;
  display: none;
}

.field-list {
  padding-bottom: 10px;
  margin: 10px 0px 5px 0px;
}
.field-list td {
  padding-bottom: 4px;
}

#front-page {
  padding: 10px;
}

#main-actions {
  width: 80%;
}

#main-actions .actionlist {
  width: 30%;
  vertical-align: top;
}

table.list {
  margin: 10px;
  border-width: 1px;
  border-spacing: 5px;
  border-style: solid;
  border-color: gray;
  border-collapse: collapse;
  font-size: 75%;
}
table.list th {
  padding: 3px;
  background-color: #d0d0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
table.list tr.even, table.list tr:nth-child(even) {
  background-color: #eed;
}
table.list tr.odd, table.list tr:nth-child(odd) {
  background-color: white;
}
.list th a:link {
  color: #226
}

table.list tr td {
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #bbb;
}

table.list thead img.sort-direction-icon {
  padding-right: 5px;
}

.field-label {
  color: #226;
  white-space: nowrap;
}
.field-value {
  color: #332;
  font-size: 95%;
}
.attribute-field {
  font-weight: bold;
}
.non-important-attribute-field {
  font-weight: normal;
}

.sect .sect-title {
  background-color: #ddd;
  color: #227;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 1px 5px 1px 5px;
  margin: 3px;
  display: inline
}

.undisclosed-title {
  background-image: url('../images/right_triangle.png');
  background-repeat: no-repeat;
  background-position: center left
}
.disclosed-title {
  background-image: url('../images/down_triangle.png');
  background-repeat: no-repeat;
  background-position: center left
}

.sect .sect-title a {
  margin-left: 9px;
}

.sect {
  margin: 20px 0px 10px 0px;
}

.sect-content {
  margin: 2px 5px 2px 5px;
}

.infobox {
  padding: 8px 0px 8px 0px;
}

.infobox table.list {
    font-size: 95%;
}

.infobox .title {
    background-color: #ddd;
    color: #227;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1px 5px 1px 5px;
}

/* front page: */
.actionlist {
    font-weight: bold;
}

.actionlist .label {
    font-size: 105%;
    display: inline;
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid black;
}

.actionlist ul {
    padding: 8px;
    margin: 1em;
    font-size: 95%;
}
.actionlist li > ul {
    padding: 3px 0px 3px 20px;;
    margin: 0px;
}
.actionlist ul li {
    list-style: none;
    white-space: nowrap;
}

/* FormFu errors */
.error_message {
  color: red;
}

/* editing: */
div.submit {
    float: right;
}

div.edit_link {
    float: right;
}

span.error_constraint_required {
    color: red;
    font-size: 90%;
}

/* page navigation */
.page_nav_summary, .page_nav_actions {
    font-size: 90%;
    margin: 15px 0px 10px 0px;
}
.page_nav_summary {
    float: left;
}
.page_nav_actions {
    float: right;
}
.page_nav_actions a:visited {
  color:#026; text-decoration:none;
}

.page_nav_no_link {
  color: #777;
}
.page_nav_link {
}
.page_nav_current {
    font-weight: bold;
}

.page_nav_number_link {
  border: 1px solid #aaa;
  background-color: #ddf;
}
.page_nav_number_current {
  font-weight: bold;
  border: 1px solid #666;
  background-color: #ddf;
}

#login {
    padding: 10px;
}
#logout {
    padding: 10px;
}

div.clearall {
  clear: both;
}

.curs-content {
  margin-top: 10px;
}

.annotation-start {
  margin-left: 30px;
  padding: 5px;
}

.annotation-start ul {
  margin: 0px;
  padding: 0px;
}

.annotation-start li {
  text-decoration: none; 
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.annotation-start li > .annotation-type {
  color: #777;
}

.annotation-extension {
  margin: 10px 0 10px 0;
}

.upload-genes-link {
  float: left;
}

.gene-list table {
  font-size: 95%;
  border-width: 0px;
  margin: 4px;
}
.gene-list td {
  border-width: 0px;
  font-size: 95%;
}

.gene-list td {
  padding-right: 30px;
  width: 150px;
  white-space: nowrap;
}

.gene-list .no-genes-message {
  font-size: 95%;
  margin: 10px;
}

.gene-list .view-edit {
  font-size: 85%;
  margin: 12px 2px 0px 2px;
}

.gene-list .annotation-count {
  color: green;
  font-size: 80%;
}

#heading .pubid {
  float: right;
  width: 45%;
}

#heading .pubid {
  clear: right;
  font-size: 70%;
  margin: 10px 5px 5px 5px;
}

.email-address {
  font-style: italic;
  color: #666;
}

.long-action-link {
  margin: 5px;
}

.app_version {
  color: #aaa;
  font-size: 50%;
}

.current-gene {
  font-weight: bold;
}

.publication-name {
  font-weight: bold;
}

.autocomplete-warning {
  color: red;
  font-weight: bold;
}

.ui-autocomplete-loading { 
  background: white url('../images/ui-anim_basic_16x16.gif') right top no-repeat;
}

.ui-menu-item {
  font-size: 60%;
}

.curs-autocomplete-definition h3 {
  padding: 0;
  margin: 0;
}
.curs-autocomplete-definition {
  font-size: 70%;
  width: 20em;
  min-height: 5em;
  z-index: 999999;
  position: absolute;
  overflow: auto;
}

#ferret {
  list-style-type: none;
}

#ferret-term-entry {
  width: 75%;
  margin-top: 10px;
}


#ferret-term-entry .ferret-term-entry-inside > div {
  margin-bottom: 8px;
}

#ferret-term-entry-extra-help div {
  margin: 5px;
  font-size: 95%;
}

#ferret-term-details {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.curs-definition-table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 15px;
}

.curs-definition-table tbody {
  font-size: 90%;
}

.curs-definition-table td {
  vertical-align: top;
  padding: 2px 5px 2px 5px;
}

.curs-definition-table td.title {
  white-space: nowrap;
  border-right: 2px solid black;
  font-weight: bold;
}

#ferret-accept-term-proceed-message {
  clear: both;
  float: right;
}

.term-id {
  color: #000;
  font-weight: bold;
}

.term-definition {
  display: block;
}

.term-comment {
  display: block;
}

.term-name {
  display: block;
}

#ferret-children-details {
  width: 90%;
  min-height: 10em;
}

#ferret-term-children-list {
  font-size: 90%;
}

.curs-box {
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}

.curs-box-title {
  margin-left: 0%;
  background-color: #dbf0f7;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: 700;
}

.curs-inline-help-icon {
  float: right;
}

.curs-box-body {
  margin: 0px;
  padding: 10px;
}

#ferret-accept-term-details {
  width: 90%;
  margin: 5px;
}

#ferret-ignore-children {
  margin: 5px;
}

#ferret-term-children ul {
  padding: 0px 0px 0px 2em;
}

#ferret-term-children ul li img {
  padding: 0px 0px 0px 0.4em;
}

#ferret-term-children ul li {
  padding: 2px;
  text-decoration: none;
}

#ferret-suggest-link, #ferret-cancel-children {
  margin: 10px 0px 10px 0px;
}

.inline-help {
  color: #010;
  margin: 0px 0px 10px 0px;
}

.ferret-more-help {
  margin: 5px;
  font-size: 95%;
  display: none;
}

.pomcur-more-button {
  white-space: nowrap;
}

.evidence-select .select, .with-gene-select .select {
  display: inline;
}

.evidence-select div.submit, .with-gene-select div.submit {
  float: none;
  display: inline;
  margin: 10px 0px 0px 30px;
}

.with-gene-select form, .evidence-select form {
  margin-top: 10px;
}

.placeholder {
  color: #999;
}

#ferret-suggest-form label.error {
  color: red;
}
#ferret-suggest-form td {
  text-align: top;
}

.triage .pub-details {
  width: 68%;
  float: left;
}
.triage .pub-details .triage-abstract .sect-content {
  font-size: 90%;
}

.triage .status-settings {
  width: 28%;
  float: right;
}

.triage li {
  list-style-type: none;
  padding: 2px;
}
.triage li a {
  text-decoration: none;
}
.triage li a:hover {
  background-color:#0b75b2;
}

form .checkboxgroup {
  margin-top: 10px;

}
form .checkboxgroup span {
  display: block;
}

#curs-upload-help {
  padding-top: 5px;
  font-size: 90%;
}

#curs-annotation-tables {
  clear: both;
  padding-top: 15px;
  width: 90%;
  font-size: 95%;
}

.curs-annotation-incomplete-message {
  padding-left: 10px;
  font-size: 85%;
}
#curs-annotation-download {
  padding: 10px;
  font-size: 90%;
}

.curs-matched-search-term {
  font-weight: bold;
}

span.pomcur-select-buttons {
  display: block;
  margin: 10px;
}

#curs-gene-list, #curs-annotation-actions {
  font-size: 90%;
  float: left;
  width: 48%;
}

#curs-front-page .pub-title, #curs-gene-details {
  font-size: 90%;
  width: 48%;
  float: right;
}

.curs-finish-button {
  float: right;
  margin-top: 10px;
  margin-left: 8px;
}

.curs-back-button {
  float: left;
  margin-top: 10px;
  margin-right: 8px;
}

.ui-dialog {
   font-size: 80%;
}
.ui-dialog .ui-dialog-titlebar, .curs-ui-dialog-subheading .ui-dialog-title {
   padding: .2em 1em .1em;
}

.curs-ui-dialog-subheading {
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 1.5em;
}

.curs-external-links {
  float: right;
  display: inline;
  clear: right;
}
.curs-external-links .links-title {
  font-size: 80%;
}
.curs-external-link {
  float: right;
  clear: right;
}

#pubmed-id-lookup-results {
  clear: left;
  padding-top: 20px;
}

#pubmed-id-lookup .curs-box-body {
  height: 3em;
}

#pubmed-id-lookup-input, #pubmed-id-lookup-submit {
  display: inline;
  float: left;
}

#pubmed-id-lookup-message {
  clear: both;
  padding-top: 15px;
}

#pubmed-id-lookup-waiting {
  display: inline;
  float: left;
}

#pubmed-id-lookup-results, #curs-assign-session, #curs-gene-update,
#curs-gene-list-edit {
  width: 70%;
}

#curs-submitter-update .pub-details {
  padding: 5px 70px 10px 40px;
}

#curs-gene-update .textarea {
  padding-top: 15px;
}

#curs-gene-list-edit .upload-genes-link {
  margin: 10px;
  font-size: 90%;
}

input[type="submit"] {
  margin: 5px;
}

input[readonly="1"] {
  color: #555;
}

.ajax-spinner {
  margin-bottom: -10px;
  padding-bottom: -10px;
  margin-left: 15px;
  display: none;
}

.curs-box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.deleted-annotation span {
  text-decoration: line-through;
  color: #e22;
  background-color: #eee;
}

.sect.triage-pubmed-type {
  float: left;
}

.sect.triage-citation, .sect.triage-pubmed-type, .sect.triage-experiment-types, .sect.triage-curation-priorities, .sect.triage-assigned-curator, .sect.triage-flags {
  float: left;
  padding-right: 40px;
}
.sect.triage-flags, .sect.triage-abstract {
  clear: left;
}

#curs-pub-finished .curs-box {
  width: 60%;
  margin-bottom: 10px;
}

.curs-pub-assign-actions {
  float: left;
  padding: 5px 1px 15px 1px;
}

.curs-inline-message-to-curators {
  clear: right;
  float: right;
}

.sect.triage-comment {
  clear: left;
}

.curs-allele-evidence-select {
  width: 22em;
}
.curs-allele-type-select select, .curs-allele-description-input {
  width: 18em;
}
.curs-allele-row {
  vertical-align: top;
}

.curs-allele-description-delete {
  padding-left: 5px;
}

#curs-allele-add .curs-allele-reuse {
  border-top: 1px solid grey;
  padding: 5px;
  float: right;
  margin-top: 10px;
  font-size: 90%;
}
#curs-allele-add table {
  width: 100%;
}
#curs-allele-add tr td:first-child {
  width: 10em;
}
tr.curs-allele-expression td {
  padding-top: 15px;
}

#curs-allele-description-example {
  font-size: 90%;
  color: #666;
  font-style: italic;
  white-space: nowrap;
}

form label.error {
  padding-left: 1em;
  color: red;
}

.curs-allele-condition-button span.ui-button-text {
  font-size: 80%;
}

a.curs-editable-table-field {
  white-space: nowrap;
}

a.curs-editable-table-field:hover img, a.curs-editable-table-long-field:hover img
{
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

a.curs-editable-table-field img, a.curs-editable-table-long-field img
{
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.curs-transfer-summaries {
  padding-bottom: 0.5em;
}

.curs-transfer-comment-container {
  padding-bottom: 1em;
}

.upload-genes-link {
  padding-top: 9px;
  font-size: 90%;
}

#loading {
  position: absolute;
  z-index: 1000;
}

.faded-overlay {
  opacity: 0.5;
}

a.curs-quick-add-annotation:hover  {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

a.curs-quick-add-annotation  {
  padding-left: 10px;
  font-size: 80%;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

/* initially hide links that only work with Javascript active */
.curs-js-link {
  display: none;
}
