*~
Makefile
blib/
pm_to_blib
META.yml
Makefile.old
pipeline.yaml
pipeline-example-config.yaml
t/scratch/
pomcur_deploy.yaml
pomcur_test.yaml
local*
nytprof*
inc
PomCur-*.tar*
*.bak
MANIFEST
*.tmp
cover_db
pomcur.par
MYMETA.json
MYMETA.yml
test_data
pombe_data
