*~
Makefile
blib/
pm_to_blib
META.yml
Makefile.old
pipeline.yaml
pipeline-example-config.yaml
t/scratch/
canto_deploy.yaml
canto_deploy.yaml.*
canto_chado.yaml

canto_test.yaml
local*
nytprof*
inc
Canto-*.tar*
*.bak
MANIFEST
*.tmp
*.old
cover_db
canto.par
MYMETA.json
MYMETA.yml
test_data
pombe_data
*.sqlite3-shm
*.sqlite3-wal
.vagrant
vagrant_config.yaml

FYPO_A_E_config
GO_BP_A_E_config
GO_CC_A_E_config
GO_MF_A_E_config
PSI-MOD_A_E_config
node_modules
tsoutput
.PerlySenseProject
