<div class="curs-extension-builder-dialog modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      Edit notes
    </h4>
  </div>
  <div class="modal-body">
    <div ng-repeat="(noteTypeName, noteTypeConf) in noteTypes">
      <div class="allele-note-type">{{noteTypeConf.display_name}}:</div>
      <textarea class="form-control" type="text" cols="60" rows="3"
                name="{{noteType}}" ng-model="data.notes[noteTypeName]"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="finish()" ng-alt-enter="finish()">Finish</button>
  </div>
</div>
