<div class="curs-extension-builder-dialog modal-content">
  <div class="modal-header">
    <h4 ng-if="readOnly" class="modal-title">
      View notes for {{allele.display_name}}
    </h4>
    <h4 ng-if="!readOnly" class="modal-title">
      Edit notes for {{allele.display_name}}
    </h4>
  </div>
  <div class="modal-body">
    <div ng-repeat="noteTypeConf in noteTypes">
      <div class="allele-note-type">{{noteTypeConf.display_name}}:</div>
      <textarea class="form-control" type="text" cols="80" rows="4" ng-readonly="readOnly"
                name="{{noteTypeConf.name}}" ng-model="data.notes[noteTypeConf.name]">
      </textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-if="!readOnly" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="finish()" ng-alt-enter="finish()">Finish</button>
  </div>
</div>
