<div class="curs-allele-edit">
  <form name="cursAlleleEdit" class="curs-allele-edit-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <span ng-if="alleleData.display_name">
          Editing {{alleleData.display_name}}
        </span>
        <span ng-if="!alleleData.display_name && alleleData.type != 'aberration'">
          Adding allele for {{ alleleData.gene_display_name }}
        </span>
        <span ng-if="!alleleData.display_name && alleleData.type == 'aberration'">
          Adding aberration
        </span>
      </h4>
    </div>

    <div class="modal-body">
      <div ng-switch="!!alleleData.primary_identifier">
      <div ng-switch-when="false">
      <table>
        <tr>
          <td>
            Allele name
          </td>
          <td ng-class="{ 'has-error': !isValidName() }">
            <allele-name-complete ng-if="alleleData.type != 'aberration'"
                                  allele-primary-identifier="alleleData.primary_identifier"
                                  allele-name="alleleData.name"
                                  allele-description="alleleData.description"
                                  allele-type="alleleData.type"
                                  placeholder="{{current_type_config.name_hint}}"
                                  gene-identifier="{{alleleData.gene_systematic_id}}">
            </allele-name-complete>
            <input ng-if="alleleData.type == 'aberration'" ng-model="alleleData.name"/>
            <span ng-show="!isValidName()"
                  class="help-block">Required for this allele type</span>
          </td>
        </tr>

        <tr ng-if="alleleData.existingSynonyms.length != 0">
          <td>
            Existing synonyms:
          </td>
          <td>
            <span ng-repeat="synonym in alleleData.existingSynonyms">
              <span>{{synonym}}</span>
            </span>
          </td>
        </tr>

        <tr ng-if="alleleData.newSynonyms.length != 0">
          <td>
            New synonyms:
          </td>
          <td>
            <span ng-repeat="synonym in alleleData.newSynonyms">
              <span>{{synonym}}</span>
            </span>
          </td>
        </tr>

        <tr ng-if="strainData.showStrainPicker"
            ng-class="{ 'has-error': !isValidStrain() }">
          <td>Strain used</td>
          <td>
              <strain-selector
                strains="strainData.strains"
                strain-selected="strainSelected(strain)">
              </strain-selector>
              <span ng-show="!isValidStrain()"
                    class="help-block">Required for this allele type</span>
          </td>
        </tr>

        <tr class="curs-allele-type-select">
          <td>
            Allele type
          </td>
          <td ng-if="alleleData.type == 'aberration'">
            Aberration
          </td>
          <td ng-if="alleleData.type != 'aberration'"
              ng-class="{ 'has-error': !isValidType() }">
            <select class="form-control"
                    ng-model="alleleData.type" name="curs-allele-type"
                    ng-options="name for name in env.allele_type_names">
              <option selected="selected" value="">Choose an allele type ...</option>
            </select>
            <span ng-show="!isValidType()"
                  class="help-block">Please choose a type</span>
          </td>
        </tr>

        <tr class="curs-allele-type-description ng-cloak"
            ng-show="!!alleleData.type && current_type_config.show_description">
          <td>
            Allele description
          </td>
          <td ng-class="{ 'has-error': !isValidDescription() }">
            <input ng-model="alleleData.description"
                   name="curs-allele-description-input" type="text" value=""
                   class="form-control" />
            <span ng-show="!isValidDescription()"
                  class="help-block">Required for this allele type</span>
          </td>
        </tr>

        <tr class="ng-cloak" ng-show="!!alleleData.type">
          <td>
          </td>
          <td class="curs-allele-description-example">
            {{ current_type_config.placeholder }}
          </td>
        </tr>
      </table>
      </div>

      <div ng-switch-when="true" class="curs-box">
        <div class="curs-box-title">
          This is an existing allele, click "OK" to use this allele or
          "Cancel" to create a new allele
        </div>
        <div class="curs-box-body">
          <table class="curs-definition-table">
            <tr>
              <td class="title">
                Allele name
              </td>
              <td>
                {{alleleData.name}}
              </td>
            </tr>
            <tr>
              <td class="title">
                Type
              </td>
              <td>
                {{alleleData.type}}
              </td>
            </tr>
            <tr>
              <td class="title">
                Description
              </td>
              <td>
                {{alleleData.description}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <table ng-show="showExpression()">
        <tr class="curs-allele-expression ng-cloak">
          <td valign="top">
            Expression <help-icon key="allele_expression_choose"></help-icon>

          </td>
          <td ng-class="{ 'has-error': !isValidExpression() }">
            <div ng-show="!isValidExpression()"
                 class="help-block">Required for this allele type</div>
            <div>
              <label>Overexpression</label>
              <input ng-model="alleleData.expression" name="curs-allele-expression"
                     type="radio" value="Overexpression" />
            </div>
            <div>
              <label>Wild type product level</label>
              <input ng-model="alleleData.expression" name="curs-allele-expression"
                     type="radio" value="Wild type product level" />
            </div>
            <div>
              <label>Knockdown</label>
              <input ng-model="alleleData.expression" name="curs-allele-expression"
                     type="radio" value="Knockdown" />
            </div>
            <div ng-show="alleleData.type">
              <label>Null</label>
              <input ng-model="alleleData.expression" name="curs-allele-expression"
                     type="radio" value="Null" />
            </div>
            <div ng-show="alleleData.type !== 'wild type'">
              <label>Not assayed</label>
              <input ng-model="alleleData.expression" name="curs-allele-expression"
                     type="radio" value="Not assayed" />
            </div>
          </td>
        </tr>
      </table>
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
                ng-disabled="!isValid()">OK</button>
      </div>
    </div>
  </form>
</div>
