<div class="curs-allele-edit">
  <form name="cursAlleleEdit" class="curs-allele-edit-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <span ng-if="alleleData.display_name && !isCopied">
          Editing {{alleleData.display_name}}
        </span>
        <span ng-if="alleleData.display_name && isCopied">
          Editing a copy of {{alleleData.display_name}}
        </span>
        <span ng-if="!alleleData.display_name && (alleleData.type != 'aberration' && alleleData.type != 'aberration wild type')">
          Adding allele for {{ alleleData.gene_display_name }}
        </span>
        <span ng-if="!alleleData.display_name && (alleleData.type == 'aberration' || alleleData.type == 'aberration wild type')">
          Adding {{ alleleData.type }}
        </span>
      </h4>
    </div>

    <div class="modal-body">
      <div ng-switch="!!alleleData.external_uniquename">
      <div ng-switch-when="false">
      <table>
        <tr>
          <td>
            Allele name
          </td>
          <td ng-class="{ 'has-error': !isValidName() }">
            <allele-name-complete ng-if="alleleData.type != 'aberration' && alleleData.type != 'aberration wild type'"
                                  allele-name="alleleData.name"
                                  name-selected="nameSelectedCallback(alleleData)"
                                  placeholder="{{current_type_config.name_hint}}"
                                  gene-identifier="{{alleleData.gene_systematic_id}}">
            </allele-name-complete>
            <input ng-if="alleleData.type == 'aberration' || alleleData.type == 'aberration wild type'" ng-model="alleleData.name"/>
            <span ng-show="!isValidName()"
                  class="help-block">Allele name is required</span>
          </td>
        </tr>

        <tr ng-if="alleleData.existingSynonyms.length != 0 && !!alleleData.type">
          <td>
            Existing synonyms:
          </td>
          <td>
            <span ng-repeat="synonym in alleleData.existingSynonyms">
              <span>{{synonym}}</span>
            </span>
          </td>
        </tr>

        <tr ng-if="userIsAdmin && alleleData.existingSynonyms.length == 0 && !!alleleData.type">
          <td>
            Existing synonyms:
          </td>
          <td>
            (none)
          </td>
        </tr>

        <tr ng-if="!!alleleData.type">
          <td>
            New synonyms:
          </td>
          <td>
            <input type="text" ng-model="data.newSynonymsString"/>
          </td>
        </tr>

        <tr ng-if="strainData.showStrainPicker"
            ng-class="{ 'has-error': !isValidStrain() }">
          <td>Strain used</td>
          <td>
              <strain-selector
                strains="strainData.strains"
                strain-selected="strainSelected(strain)">
              </strain-selector>
              <span ng-show="!isValidStrain()"
                    class="help-block">Required for this allele type</span>
          </td>
        </tr>

        <tr class="curs-allele-type-select">
          <td ng-if="showAlleleTypeField">
            Allele type
          </td>
          <td ng-if="alleleData.type == 'aberration'">
            Aberration
          </td>
          <td ng-if="alleleData.type == 'aberration wild type'">
            Wild type for aberration
          </td>
          <td ng-if="showAlleleTypeField"
              ng-class="{ 'has-error': !isValidType() }">
            <select class="form-control"
                    ng-model="alleleData.type" name="curs-allele-type"
                    ng-options="name for name in env.allele_type_names">
              <option selected="selected" value="">Choose an allele type...</option>
            </select>
            <span ng-show="!isValidType()"
                  class="help-block">Please choose a type</span>
          </td>
        </tr>

        <tr class="curs-allele-type-description ng-cloak"
            ng-show="!!alleleData.type && current_type_config.show_description">
          <td>
            Allele description
          </td>
          <td ng-class="{ 'has-error': !isValidDescription() }">
            <input ng-model="alleleData.description"
                   ng-change="descriptionChanged()"
                   name="curs-allele-description-input" type="text" value=""
                   class="form-control" />
            <span ng-show="descriptionState == 'ok'"
                  title="Allele description passes checks"
                  class="glyphicon glyphicon-ok curs-allele-desc-ok"></span>
            <span ng-show="descriptionState == 'not-ok'"
                  title="{{lastDescriptionError}}"
                  class="glyphicon glyphicon-remove curs-allele-desc-not-ok"></span>
            <span ng-show="!isValidDescription()"
                  class="help-block">Description required for this allele type</span>
          </td>
        </tr>

        <tr class="ng-cloak" ng-show="!!alleleData.type">
          <td>
          </td>
          <td class="curs-allele-description-example">
            {{ current_type_config.placeholder }}
          </td>
        </tr>
      </table>
      </div>

      <div ng-switch-when="true" class="curs-box">
        <div class="curs-box-title">
          This is an existing allele, click "OK" to use this allele or
          "Cancel" to create a new allele
        </div>
        <div class="curs-box-body">
          <table class="curs-definition-table">
            <tr>
              <td class="title">
                Allele name
              </td>
              <td>
                {{alleleData.name}}
              </td>
            </tr>

            <tr ng-if="userIsAdmin && !!alleleData.type">
              <td class="title">
                Existing synonyms:
              </td>
              <td>
                <span ng-if="alleleData.existingSynonyms.length == 0">
                  (none)
                </span>
                <span ng-repeat="synonym in alleleData.existingSynonyms">
                  <span>{{synonym}}</span>
                </span>
              </td>
            </tr>

            <tr ng-if="!!alleleData.type">
              <td class="title">
                New synonyms:
              </td>
              <td>
                <input type="text" ng-model="data.newSynonymsString"/>
              </td>
            </tr>

            <tr>
              <td class="title">
                Type
              </td>
              <td>
                {{alleleData.type}}
              </td>
            </tr>
            <tr>
              <td class="title">
                Description
              </td>
              <td>
                {{alleleData.description}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <table ng-show="showExpression()">
        <tr class="curs-allele-expression ng-cloak">
          <td valign="top">
            Expression <help-icon key="allele_expression_choose"></help-icon>

          </td>
          <td ng-class="{ 'has-error': !isValidExpression() }">
            <div ng-show="!isValidExpression()"
                 class="help-block">Required for this allele type</div>
            <div>
              <input ng-model="alleleData.expression" name="curs-allele-expression" id="allele-edit-overexpression"
                     type="radio" value="Overexpression" />
              <label for="allele-edit-overexpression">Overexpression</label>
            </div>
            <div>
              <input ng-model="alleleData.expression" name="curs-allele-expression" id="allele-edit-wild-type-level"
                     type="radio" value="Wild type product level" />
              <label for="allele-edit-wild-type-level">Wild type product level</label>
            </div>
            <div>
              <input ng-model="alleleData.expression" name="curs-allele-expression" id="allele-edit-knockdown"
                     type="radio" value="Knockdown" />
              <label for="allele-edit-knockdown">Knockdown</label>
            </div>
            <div>
              <input ng-model="alleleData.expression" name="curs-allele-expression" id="allele-edit-ectopic"
                     type="radio" value="Ectopic" />
              <label for="allele-edit-ectopic">Ectopic</label>
            </div>
            <div ng-show="alleleData.type == 'disruption' || alleleData.type == 'other'">
              <input ng-model="alleleData.expression" name="curs-allele-expression" id="allele-edit-null-expression"
                     type="radio" value="Null" />
              <label for="allele-edit-null-expression">Null</label>
            </div>
            <div ng-show="pathogenHostMode || alleleData.type !== 'wild type'">
              <input ng-model="alleleData.expression" name="curs-allele-expression" id="allele-edit-not-assayed"
                     type="radio" value="Not assayed" />
              <label for="allele-edit-not-assayed">Not assayed</label>
            </div>
          </td>
        </tr>
      </table>

      <div class="curs-allele-promoter ng-cloak" ng-show="showPromoterOpts()">
        Promoter:
        <div>
          <input id="promoter-none" type="radio" value="none" ng-model="promoterSelect">
          <label for="promoter-none">Unspecified</label>
        </div>
        <div>
          <input id="promoter-gene" type="radio" value="gene" ng-model="promoterSelect">
          <label for="promoter-gene">Promoter swap
            <span ng-if="data.organismShortDisplayName">({{data.organismShortDisplayName}})</span></label>
          <feature-chooser
            ng-if="genes && promoterSelect == 'gene'"
            feature-type="gene" features="genes"
            feature-editable="true"
            chosen-feature-id="data.promoterGeneId"></feature-chooser>
          <a ng-if="promoterSelect == 'gene'" ng-click="openSingleGeneAddDialog()">Add another gene</a>
        </div>
        <div>
          <input id="promoter-exogenous" type="radio" value="exogenous" ng-model="promoterSelect">
          <label for="promoter-exogenous">Exogenous gene promoter</label>
          <input type="text" ng-if="promoterSelect == 'exogenous'" ng-model="alleleData.exogenous_promoter"/>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()"
                ng-disabled="okInProgress">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
                title="{{okTitle()}}"
                ng-disabled="okInProgress || !isValid()">OK</button>
      </div>
    </div>
  </form>
</div>
