<div class="curs-dialog curs-annotation-interaction-edit">
  <div class="modal-header">
    <h4 class="modal-title">
      Add interactions
    </h4>
  </div>

  <div class="modal-body">

    <div>
      <div ng-show="!interactionType" class="curs-annotation-interaction-edit-type-select">
        <select class="form-control" ng-model="interactionType">
          <option value="">Select an interaction type ...</option>

          <option ng-repeat="code in evidenceCodes" value="{{code}}">
            {{data.evidenceConfig[code].name}}
          </option>
        </select>
      </div>

      <div ng-if="data.directionSelectorVisible">
        Select direction:

        <div>
          <input type="radio" ng-value="true"
                 ng-model="data.interactionForward"
                 ng-change="directionChanged()"
                 id="annotation-interaction-direction-1"/>
          <label for="annotation-interaction-direction-1">
            {{data.genotypeA.display_name}}
            <span style="font-weight: bold">{{interactionType}}</span>
            {{data.genotypeB.display_name}}
          </label>
        </div>

        <div>
          <input type="radio" ng-value="false"
                 ng-model="data.interactionForward"
                 ng-change="directionChanged()"
                 id="annotation-interaction-direction-2"/>
          <label for="annotation-interaction-direction-2">
            {{data.genotypeB.display_name}}
            <span style="font-weight: bold">{{interactionType}}</span>
            {{data.genotypeA.display_name}}
          </label>
        </div>
      </div>


      <div ng-if="data.annotationSelectorVisible">
        <div ng-if="data.interactionForward">
          {{data.genotypeA.display_name}}
          <span style="font-weight: bold">{{interactionType}}</span>
          {{data.genotypeB.display_name}}
        </div>

        <div ng-if="!data.interactionForward">
          {{data.genotypeB.display_name}}
          <span style="font-weight: bold">{{interactionType}}</span>
          {{data.genotypeA.display_name}}
        </div>

        <div style="padding-top: 1em">
          <div ng-if="data.interactingAnnotations.length == 0">
            Select annotation phenotypes for
            <span ng-if="data.interactionForward">{{data.genotypeB.display_name}}</span><span ng-if="!data.interactionForward">{{data.genotypeA.display_name}}</span>:
            <button ng-click="selectAnnotations()"
                    class="btn btn-default btn-sm">Select/Add ...</button>
          </div>

          <div ng-if="data.interactingAnnotations.length != 0">
            Rescued phenotypes:
            <annotation-table annotation-type-name="{{data.annotationType.name}}"
                              annotations="data.interactingAnnotations"
                              show-menu="false"
                              show-checkboxes="false"
                              show-features="false"
                              show-metagenotype-link="false">
            </annotation-table>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="data.isSymmetricInteraction">
      Confirm:&nbsp;&nbsp;
      <span style="font-weight: bold">{{interactionType}}: </span>
      {{data.genotypeA.display_name}}
      {{data.genotypeB.display_name}}
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
            title="{{ okButtonTitleMessage() }}"
            ng-disabled="!canFinish()">OK</button>
  </div>
</div>
