<div class="curs-evidence-directive">
  <div ng-class="{ 'has-error': !isValidEvidenceCode() }">
    <select class="form-control"
            ng-model="evidenceCode">
      <option value="">{{annotationType.category == 'interaction' ? 'Choose genetic interaction type ...' : 'Choose evidence code ...'}}</option>
      <option ng-repeat="code in evidenceCodes"
              ng-selected="{{evidenceCode == code}}" value="{{code}}" title="{{getDefinition(code)}}">{{getDisplayCode(code)}}</option>
    </select>
  </div>

  <div ng-show="showWith()" ng-class="{ 'has-error': !isValidWithGene() }">
    <div class="curs-evidence-directive-with">
      <span>With:</span>
      <span><feature-chooser feature-type="gene" features="genes"
                             chosen-feature-id="withGeneId"></feature-chooser></span>
    </div>
    <div ng-show="isValidEvidenceCode() && !isValidWithGene()"
          class="help-block">Please select a 'with' gene</div>
  </div>
</div>

