<div class="curs-dialog curs-annotation-interaction-edit">
  <div class="modal-header">
    <h4 class="modal-title">
      Select phenotypes of interactors
    </h4>
  </div>

  <div class="modal-body">

    <div>
      <div class="curs-annotation-interaction-edit-type-select">
        <select class="form-control" ng-model="interactionType">
          <option value="">Select an interaction type ...</option>

          <option value="Synthetic rescue">Synthetic rescue</option>
          <option value="Dosage Rescue">Dosage Rescue</option>
          <option value="Phenotypic enhancement">Phenotypic enhancement</option>
          <option value="Phenotypic suppression">Phenotypic suppression</option>
          <option value="Synthetic growth defect">Synthetic growth defect</option>
          <option value="Synthetic Lethality">Synthetic Lethality</option>
        </select>
      </div>

      <div ng-if="data.symmetricInteractionNote">
        No further information needed
      </div>

      <div ng-if="data.directionSelectorVisible">
        Select direction:

        <div>
          <input type="radio" ng-value="true"
                 ng-model="data.interactionForward"
                 ng-change="directionChanged()"
                 id="annotation-interaction-direction-1"/>
          <label for="annotation-interaction-direction-1">
            {{data.phenotypeAnnotation.alleles[0].long_display_name}}
            recuses
            {{data.phenotypeAnnotation.alleles[1].long_display_name}}
          </label>
        </div>

        <div>
          <input type="radio" ng-value="false"
                 ng-model="data.interactionForward"
                 ng-change="directionChanged()"
                 id="annotation-interaction-direction-2"/>
          <label for="annotation-interaction-direction-2">
            {{data.phenotypeAnnotation.alleles[1].long_display_name}}
            recuses
            {{data.phenotypeAnnotation.alleles[0].long_display_name}}
          </label>
        </div>
      </div>

      <div ng-if="data.annotationSelectorVisible">
        Select rescued phenotypes:
        <button ng-click="selectAnnotations()"
                class="btn btn-default btn-sm">Select ...</button>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
            title="{{ okButtonTitleMessage() }}"
            ng-disabled="!canSelect()">OK</button>
  </div>
</div>
