<tr>
  <td ng-if="annotation.feature_type === 'gene' && !featureIdFilter">
    <a ng-if="annotation.status === 'new'" href="{{curs_root_uri + '/feature/gene/view/' + annotation.feature_id}}">
      {{annotation.gene_name_or_identifier}}
    </a>
    <span ng-if="annotation.status === 'existing'">
      {{annotation.gene_name_or_identifier}}
    </span>
  </td>
  <td ng-if="annotation.feature_type === 'genotype' && !featureIdFilter">
    <a ng-if="annotation.status === 'new'" href="{{curs_root_uri + '/feature/genotype/view/' + annotation.feature_id}}">
      {{annotation.genotype_display_name}}
    </a>
    <span ng-if="annotation.status === 'existing'">
      {{annotation.genotype_display_name}}
    </span>
  </td>
  <td>
    {{annotation.term_ontid}}
  </td>
  <td>
    {{annotation.term_name}}
  </td>
  <td>
    {{annotation.evidence_code}}
  </td>
  <td ng-if="annotationType.can_have_with">
    <span ng-if="annotation.with_gene_id">
      <a href="{{curs_root_uri + '/feature/gene/view/' + annotation.with_gene_id}}">
        {{annotation.with_or_from_display_name || annotation.with_or_from_identifier}}
      </a>
    </span>
  </td>
  <td ng-if="annotationType.can_have_conditions">
    {{annotation.conditionsString}}
  </td>
  <td>
    {{annotation.qualifiers}}
  </td>
  <td>
    <span ng-if="annotation.term_suggestion_name || annotation.term_suggestion_definition"
          title="{{annotation.term_suggestion_definition}}">{{annotation.term_suggestion_name || annotation.term_suggestion_definition}}</span>
  </td>
  <td>
    {{annotation.submitter_comment}}
  </td>
  <td>
    {{annotation.annotation_extension | breakExtensions}}
  </td>
  <td>
    {{annotation.curator}}
  </td>
  <td class="table-row-actions">
    <div ng-if="evidenceTypes && annotationType && featureStatusFilter === 'new'">
      <div>
        <a ng-click="edit()">Edit</a>
      </div>
      <div>
        <a ng-click="duplicate()">Duplicate</a>
      </div>
      <div>
        <a ng-click="delete()">Delete</a>
      </div>
    </div>
  </td>
</tr>

