<div>
  <div ng-show="annotations.length > 0">
    <div ng-if="featureStatusFilter === 'new' && alleleCountFilter && alleleCountFilter == 'multi'" class="curs-annotation-sub-heading">
      Multi locus genotype annotations and genetic interactions:
    </div>

    <div ng-if="featureStatusFilter === 'existing' && annotations !== null && annotations.length > 0"
          class="curs-annotation-sub-heading">
      <span ng-if="!alleleCountFilter">
        Existing annotations
      </span>
      <span ng-if="alleleCountFilter">
        Existing {{alleleCountFilter}} allele annotations
      </span>
      <span ng-show="featureFilterDisplayName">
        for {{featureFilterDisplayName}}
      </span>
    </div>
    <div class="curs-annotation-table">
      <div class="list" ng-switch="annotationType.category">
        <table ng-switch-when="ontology" class="list">
          <thead>
            <tr>
              <th ng-if="showCheckboxes">
                &nbsp;
              </th>
              <th ng-if="showFeatures && multiOrganismMode && annotationType.feature_type !== 'metagenotype'"> 
                <a class="curs-sort-button" href=""
                   title="Click to sort" ng-click="setSortBy('organism_full_name')">
                  Species<span ng-if="strainsMode && annotationType.feature_type === 'genotype'"> (strain)</span> 
                  <img ng-src="{{app_static_path + (sortColumn == 'organism_full_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
             </th>
              <th ng-if="showFeatures && annotationType.feature_type == 'genotype'">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('genotype_genes')">
                  Genes
                  <img ng-src="{{app_static_path + (sortColumn == 'genotype_genes' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="showFeatures && annotationType.feature_type == 'genotype' && !data.hideColumns.genotype_background">Background</th>
              <th ng-if="showFeatures && annotationType.feature_type == 'genotype' && !data.hideColumns.genotype_name">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('genotype_name')">
                  Genotype name
                  <img ng-src="{{app_static_path + (sortColumn == 'genotype_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="showFeatures && (annotationType.feature_type == 'genotype' || !featureIdFilter && annotationType.feature_type != 'metagenotype')">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('feature_display_name')">
                  {{displayAnnotationFeatureType}}
                  <span ng-if="annotationType.feature_type == 'genotype'">(allele and expression)</span>
                  <img ng-src="{{app_static_path + (sortColumn == 'feature_display_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="showFeatures && annotationType.feature_type == 'metagenotype'">Pathogen genotype</th>
              <th ng-if="showFeatures && annotationType.feature_type == 'metagenotype'">Host genotype</th>
              <th ng-if="!data.hideColumns.term_ontid">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('term_ontid')">
                  Term ID
                  <img ng-src="{{app_static_path + (sortColumn == 'term_ontid' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th>
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('term_name')">
                  Term name
                  <img ng-src="{{app_static_path + (sortColumn == 'term_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="!data.hideColumns.evidence_code">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('evidence_code')">
                  Evidence code
                  <img ng-src="{{app_static_path + (sortColumn == 'evidence_code' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>

              <th ng-if="annotationType.can_have_with && !data.hideColumns.with_or_from_identifier">With</th>
              <th ng-if="!data.hideColumns.gene_product_form_id">Gene product form ID</th>
              <th ng-if="annotationType.can_have_conditions && !data.hideColumns.conditions">Conditions</th>
              <th ng-if="!data.hideColumns.qualifiers">Qualifiers</th>
              <th ng-if="!data.hideColumns.term_suggestion">Term suggestion</th>
              <th ng-if="!data.hideColumns.submitter_comment">
               <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('submitter_comment')">
                  Comment
                  <img ng-src="{{app_static_path + (sortColumn == 'submitter_comment' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
               </a>
              </th>
              <th ng-if="!data.hideColumns.figure">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('figure')">
                  Figure
                  <img ng-src="{{app_static_path + (sortColumn == 'figure' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="!data.hideColumns.extension">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('extension')">
                  <span ng-show="flyBaseMode">Phenotype extensions</span>
                  <span ng-hide="flyBaseMode">Annotation extension</span>
                  <img ng-src="{{app_static_path + (sortColumn == 'extension' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="!data.hideColumns.curator">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('curator')">
                  Curator
                  <img ng-src="{{app_static_path + (sortColumn == 'curator' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr annotation-table-row add-links="addLinks()"
                annotation-type-name="ontology"
                feature-status-filter="{{featureStatusFilter}}"
                show-metagenotype-link="{{showMetagenotypeLink}}"
                show-checkboxes="{{showCheckboxes}}"
                checkbox-changed="checkboxChanged(annotationId, checkboxChecked)"
                select-all-model="selectAllModel"
                show-menu="{{showMenu}}"
                show-features="{{showFeatures}}"
                ng-repeat="annotation in data.sortedAnnotations">
            </tr>
          </tbody>
        </table>
        <div style="padding-top: 0.5em;" ng-show="showSelectAll">
          <a href="#" ng-click="selectAll()">Select all</a>
        </div>
        <table ng-switch-when="interaction" class="list">
          <thead>
            <tr>
              <th ng-if="showCheckboxes">
                &nbsp;
              </th>
              <th>
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('feature_a_display_name')">
                  Interactor A
                  <img ng-src="{{app_static_path + (sortColumn == 'feature_a_display_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="multiOrganismMode">Taxon Id A</th>
              <th ng-if="!data.hideColumns.evidence_code">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('evidence_code')">
                  Evidence
                  <img ng-src="{{app_static_path + (sortColumn == 'evidence_code' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="annotationType.can_have_conditions && !data.hideColumns.conditions">Conditions</th>
              <th>
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('feature_b_display_name')">
                  Interactor B
                  <img ng-src="{{app_static_path + (sortColumn == 'feature_b_display_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="multiOrganismMode">Taxon Id B</th>
              <th ng-if="showInteractionTermColumns && !data.hideColumns.term_ontid">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('term_ontid')">
                  Term ID
                  <img ng-src="{{app_static_path + (sortColumn == 'term_ontid' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="showInteractionTermColumns">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('term_name')">
                  Phenotype
                  <img ng-src="{{app_static_path + (sortColumn == 'term_name' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="!data.hideColumns.extension">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('extension')">
                  <span ng-show="flyBaseMode">Phenotype extensions</span>
                  <span ng-hide="flyBaseMode">Annotation extension</span>
                  <img ng-src="{{app_static_path + (sortColumn == 'extension' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="!data.hideColumns.qualifiers">Qualifiers</th>
              <th ng-if="!data.hideColumns.submitter_comment">
                <a class="curs-sort-button" href=""
                   title="{{sortColumn == 'feature_display_name' ? 'Reset sort order' : 'Sort ascending'}}"
                   ng-click="setSortBy('submitter_comment')">
                  Comment
                  <img ng-src="{{app_static_path + (sortColumn == 'submitter_comment' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
                </a>
              </th>
              <th ng-if="!data.hideColumns.figure" ng-click="setSortBy('figure')">
                Figure
                <img ng-src="{{app_static_path + (sortColumn == 'figure' ? '/images/sort_up.svg' : '/images/sort_both.svg')}}"/>
              </th>
              <th ng-if="!data.hideColumns.curator">Curator</th>
            </tr>
          </thead>
          <tbody>
            <tr annotation-table-row annotation-type-name="interaction"
                feature-status-filter="{{featureStatusFilter}}"
                show-menu="showMenu"
                ng-repeat="annotation in data.sortedAnnotations">
            </tr>
          </tbody>
        </table>

        <div ng-switch-when="genotype_interaction">
          <div ng-if="data.symmetricInteractionAnnotations.length != 0 && data.interactionPhenotypeType">
            <genotype-interaction-annotation-table
              interactions="data.symmetricInteractionAnnotations"
              phenotype-annotation-type="data.interactionPhenotypeType"
              show-phenotypes-link="false" allow-deletion="false">
            </genotype-interaction-annotation-table>
          </div>
          <div ng-if="data.directionalInteractionAnnotations.length != 0 && data.interactionPhenotypeType">
            <genotype-interaction-annotation-table
              interactions="data.directionalInteractionAnnotations"
              phenotype-annotation-type="data.interactionPhenotypeType"
              show-phenotypes-link="true" allow-deletion="false">
            </genotype-interaction-annotation-table>
          </div>
        </div>
      </div>
    </div>
  </div>
