<div class="annotation-table annotation-single-row">
<table ng-if="annotationType" class="list">
  <thead>
    <tr>
      <th>
        {{displayFeatureType}}
      </th>
      <th>
        Term ID
      </th>
      <th>
        Term name
      </th>
      <th>
        Evidence
      </th>
      <th ng-if="annotationType.can_have_with && annotationDetails.with_gene_id">
        With
      </th>
      <th ng-if="annotationType.can_have_conditions && annotationDetails.conditions.length > 0">
        Conditions
      </th>
      <th ng-if="annotationDetails.extension && annotationDetails.extension.length > 0">
        Extension
      </th>
      <th ng-if="annotationDetails.term_suggestion_name || annotationDetails.term_suggestion_definition">
        Term suggestion
      </th>
    </tr>
  </thead>

  <tr>
    <td>
      <span ng-bind-html="featureDisplayName | encodeAlleleSymbols | toTrusted"></span>
    </td>
    <td>
      {{annotationDetails.term_ontid}}
    </td>
    <td>
      {{termDetails.name}}
    </td>
    <td>
      {{displayEvidence}}
    </td>
    <td ng-if="annotationType.can_have_with && annotationDetails.with_gene_id">
      {{withGeneDisplayName}}
    </td>
    <td ng-if="annotationType.can_have_conditions && annotationDetails.conditions.length > 0">
      {{conditionsString}}
    </td>
    <td ng-if="annotationDetails.extension && annotationDetails.extension.length > 0">
      <extension-display extension="annotationDetails.extension"></extension-display>
    </td>
    <td ng-if="annotationDetails.term_suggestion_name || annotationDetails.term_suggestion_definition">
      <div>
        <div style="font-weight: bold">
          {{annotationDetails.term_suggestion_name}}
        </div>
        <div>
          {{annotationDetails.term_suggestion_definition}}
        </div>
      </div>
    </td>
  </tr>
</table>
</div>
