<div class="curs-annotation-transfer-all">
  <div class="modal-header">
    <h4 class="modal-title">
      Transfer {{data.annotationType.display_name}} annotation
      from {{data.featureDisplayName}}
    </h4>
  </div>
    <div class="modal-body">

      <div ng-if="!data.otherFeatures">
        Loading ...
      </div>

      <div ng-if="data.otherFeatures">
        <div class="curs-annotation-transfer-all-select-annotation">
          Select annotation to transfer:
          <annotation-table annotation-type-name="{{data.annotationType.name}}"
                            annotations="data.annotations"
                            feature-status-filter="selecting"
                            show-menu="false"
                            show-features="false"
                            show-checkboxes="true"
                            show-select-all="true"
                            checkboxes-changed="selectionChanged(annotationIds)"
                            show-metagenotype-link="false">
          </annotation-table>
        </div>

        <div>
          Select destination {{data.featureType}}:
          <feature-chooser feature-type="{{data.featureType}}"
                           features="data.otherFeatures"
                           feature-editable="true"
                           chosen-feature-id="data.chosenDestFeatureId"></feature-chooser>
        </div>

        <div class="curs-annotation-transfer-extension"
             ng-if="data.chosenDestFeatureId">
          <label>
            <input type="checkbox" name="transferExtension"
                   ng-checked="data.transferExtension"
                   ng-click="toggleExtensionTransfer()" />
            Transfer extensions
          </label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
              title="{{ okButtonTitleMessage() }}"
              ng-disabled="!canTransfer()">OK</button>
    </div>
</div>
