<div class="curs-annotation-edit" ng-if="annotationType">
  <div class="modal-header">
    <h4 ng-show="newlyAdded" class="modal-title">
      Edit fields to create a new {{annotationType.display_name}} annotation <span ng-show="annotation.feature_display_name">for {{annotation.feature_display_name}}</span>
    </h4>
    <h4 ng-hide="newlyAdded" class="modal-title">
      Edit {{annotationType.display_name}} annotation <span ng-show="annotation.feature_display_name">for {{annotation.feature_display_name}}</span>
    </h4>
  </div>

  <div class="modal-body">
    <div class="curs-dialog-body-contents">
    <table class="curs-definition-table">
      <tr ng-if="multiOrganismMode && !isMetagenotypeAnnotation"
          ng-class="{ 'has-error': !isValidOrganism() }">
        <td class="title">
          Organism
        </td>
        <td>
          <organism-selector
            organisms="organisms"
            initial-selection-taxon-id="{{selectedOrganism.taxonid}}"
            organism-selected="organismSelected(organism)">
          </organism-selector>
          <span ng-show="!isValidOrganism()"
                class="help-block">Please select an organism</span>
        </td>
      </tr>

      <tr ng-class="{ 'has-error': !annotation.feature_id }">
        <td class="title">
          {{displayAnnotationFeatureType}}
        </td>
        <td colspan="2">
          <div ng-if="!featureEditable">
            {{currentFeatureDisplayName}}
          </div>
          <div ng-if="featureEditable && filteredFeatures">
            <feature-chooser feature-type="{{chooseFeatureType}}"
                             features="filteredFeatures"
                             filter-organism="selectedOrganism"
                             chosen-feature-id="annotation.feature_id"></feature-chooser>
            <span ng-show="filteredFeatures.length != 0 && !annotation.feature_id"
                  class="help-block">Please select a {{chooseFeatureType}}</span>

            <span ng-show="filteredFeatures.length == 0">
              No {{chooseFeatureType}}s in this session for the selected organism
            </span>
          </div>
        </td>
      </tr>

      <tr ng-if="status.showEvidence">
        <td ng-if="annotationType.category == 'ontology'" class="title">
          Evidence code
        </td>
        <td ng-if="annotationType.category == 'interaction'" class="title">
          Interaction type
        </td>
        <td colspan="2">
          <annotation-evidence ng-if="filteredFeatures && filteredFeatures.length != 0"
                               evidence-code="annotation.evidence_code"
                               show-conditions="status.showConditions"
                               with-gene-id="annotation.with_gene_id"
                               valid-evidence="status.validEvidence"
                               annotation-type-name="{{annotationType.name}}"></annotation-evidence>
        </td>
      </tr>

      <tr ng-if="annotationType.category == 'interaction'"
          ng-class="{ 'has-error': !annotation.second_feature_id }">
        <td class="title">
          Interacting {{chooseFeatureType}}
        </td>
        <td colspan="2">
          <div ng-if="!featureEditable">
            {{currentSecondFeatureDisplayName}}
          </div>
          <div ng-if="featureEditable && filteredFeatures">
            <feature-chooser feature-type="{{chooseFeatureType}}"
                             features="filteredFeatures"
                             filter-organism="selectedOrganism"
                             chosen-feature-id="annotation.second_feature_id"></feature-chooser>
            <span ng-show="filteredFeatures.length != 0 && !annotation.second_feature_id"
                  class="help-block">Please select a {{chooseFeatureType}}</span>
          </div>
        </td>
      </tr>

      <tr ng-class="{ 'has-error': !isValidTerm() }">
        <td class="title">Term name</td>
        <td colspan="2">
          <div ng-if="filteredFeatures && filteredFeatures.length != 0">
            <term-name-complete current-term-name="{{annotation.term_name}}"
                                found-callback="termFoundCallback(termId, termName, searchString, matchingSynonym)"
                                annotation-type-name="{{annotationType.name}}">
            </term-name-complete>
            <span ng-show="isValidFeature() && !isValidTerm()"
                  class="help-block">Start typing to choose a term</span>
          </div>
          <div>
            <term-children-query term-id="annotation.term_ontid" term-name="annotation.term_name"></term-children-query>
          </div>
        </td>
      </tr>

      <tr ng-if="isValidTerm() && matchingConfigurations.length > 0 || annotation.extension.length > 0">
        <td class="title">Annotation extension</td>
        <td>
          <div ng-if="filteredFeatures && filteredFeatures.length != 0">
          <extension-display ng-if="annotation.extension.length > 0" extension="annotation.extension"></extension-display>
          <span ng-show="matchingConfigurations.length > 0 || annotation.extension.length > 0">
            <button class="btn btn-default btn-xs"
                    ng-click="editExtension(annotation.term_ontid, annotation.feature_display_name)">
              <span ng-show="annotation.extension.length == 0">Add</span>
              <span ng-show="annotation.extension.length > 0">Edit</span> ...
            </button>
          </span>
          <div ng-if="currentUserIsAdmin">
            <a href="" ng-click="manualEdit()">Edit as text (admin only) ...</a>
          </div>
          </div>
        </td>
      </tr>

      <tr ng-show="status.showConditions">
        <td class="title">Conditions</td>
        <td class="curs-evidence-conditions">
          <div ng-if="filteredFeatures && filteredFeatures.length != 0">
          Please add experimental conditions.  Conditions are the aspects of the
          experimental setup that are independent of what cells (strain, genotype,
          constructs, etc.) are used.
          <condition-picker conditions="annotation.conditions"></condition-picker>
          </div>
        </td>
      </tr>

      <tr ng-if="filteredFeatures && filteredFeatures.length != 0">
        <td class="title" rowspan="2">Term suggestion</td>
        <td colspan="2">
          <input class="form-control curs-edit-wide-field"
                 type="text" placeholder="Name ..." size="60"
                 ng-model="annotation.term_suggestion_name"/>
        </td>
      </tr>

      <tr ng-if="filteredFeatures && filteredFeatures.length != 0">
        <td colspan="2">
          <textarea class="form-control curs-edit-wide-field"
                    placeholder="Definition ..." cols="60"
                    ng-model="annotation.term_suggestion_definition"/>
        </td>
      </tr>

      <tr ng-if="filteredFeatures && filteredFeatures.length != 0">
        <td class="title">Comment</td>
        <td colspan="2">
          <input class="form-control curs-edit-wide-field"
                 type="text" size="60"
                 ng-model="annotation.submitter_comment"/>
        </td>
      </tr>

      <tr>
        <td class="title">Curator</td>
        <td colspan="2">{{annotation.curator}}</td>
      </tr>

    </table>

  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
            title="{{ okButtonTitleMessage() }}"
            ng-disabled="!isValid() || !annotationChanged()">OK</button>
  </div>

</div>
</div>
