<div ng-if="annotationType && evidenceTypes && (annotationType.feature_type === 'gene' && genes || annotationType.feature_type === 'genotype' && genotypes)">

  <div class="modal-header">
    <h4 class="modal-title">
      Edit {{annotationType.display_name}} annotation <span ng-if="annotation.feature_display_name">for {{annotation.feature_display_name}}</span>
    </h4>
  </div>

  <div class="modal-body">

    <table class="curs-definition-table">

      <tr ng-if="annotationType.feature_type === 'gene'"
          ng-class="{ 'has-error': !isValidFeature() }">
        <td class="title">{{displayAnnotationFeatureType}}
        </td>
        <td>
          <div ng-if="newlyAdded && currentFeatureDisplayName">
            {{currentFeatureDisplayName}}
          </div>
          <div ng-if="!(newlyAdded && currentFeatureDisplayName)">
          <select class="form-control"
                  ng-model="annotation.feature_id"
                  ng-options="gene.gene_id as gene.display_name for gene in genes">
            <option selected="selected" value="">Choose a gene ...</option>
          </select>
          <span ng-show="!isValidFeature()"
                class="help-block">Please choose a feature</span>
          </div>
        </td>
      </tr>

      <tr ng-if="annotationType.feature_type === 'genotype'"
          ng-class="{ 'has-error': !isValidFeature() }">
        <td class="title">{{displayAnnotationFeatureType}}-{{annotation.feature_id}}
        </td>
        <td>
          <select class="form-control"
                  ng-model="annotation.feature_id"
                  ng-options="genotype.genotype_id as genotype.display_name for genotype in genotypes">
            <option selected="selected" value="">Choose a genotype ...</option>
          </select>
          <span ng-show="!isValidFeature()"
                class="help-block">Please choose a feature</span>
        </td>
      </tr>

      <tr ng-class="{ 'has-error': !isValidTerm() }">
        <td class="title">Term name</td>
        <td>
          <term-name-complete current-term-name="{{annotation.term_name}}"
                              found-term-id="annotation.term_ontid"
                              found-term-name="annotation.term_name"
                              annotation-type-name="{{annotationType.name}}">
          </term-name-complete>
          <span ng-show="isValidFeature() && !isValidTerm()"
                class="help-block">Start typing to choose a term</span>
        </td>
      </tr>

      <tr ng-class="{ 'has-error': !isValidEvidence() }">
        <td class="title">Evidence code</td>
        <td>
          <select class="form-control"
                  ng-model="annotation.evidence_code"
                  ng-options="code for code in annotationType.evidence_codes">
            <option selected="selected" value="">Choose an evidence code ...</option>
          </select>
          <span ng-show="isValidTerm() && !isValidEvidence()"
                class="help-block">Please select an evidence code</span>
        </td>
      </tr>

      <tr ng-if="evidenceTypes[annotation.evidence_code].with_gene"
          ng-class="{ 'has-error': !isValidWithGene() }">
        <td class="title">With</td>
        <td>
          <select class="form-control"
                  ng-model="annotation.with_gene_id"
                  ng-options="gene.gene_id as gene.display_name for gene in genes">
            <option selected="selected" value="">Choose a gene ...</option>
          </select>
          <span ng-show="isValidEvidence() && !isValidWithGene()"
                class="help-block">Please select a 'with' gene</span>
        </td>
      </tr>

      <tr ng-if="annotationType.can_have_conditions">
        <td class="title">Conditions</td>
        <td>
          <condition-picker conditions="annotation.conditions"></condition-picker>
        </td>
      </tr>

      <tr>
        <td class="title" rowspan="2">Term suggestion</td>
        <td>
          <input class="form-control"
                 type="text" placeholder="Name ..."
                 ng-model="annotation.term_suggestion.name"
                 value="{{annotation.term_suggestion.name}}"/>
        </td>
      </tr>

      <tr>
        <td>
          <textarea class="form-control"
                    placeholder="Definition ..."
                    ng-model="annotation.term_suggestion.definition"
                    value="{{annotation.term_suggestion.definition}}"/>
        </td>
      </tr>

      <tr>
        <td class="title">Comment</td>
        <td>
          <input class="form-control"
                 type="text"
                 ng-model="annotation.submitter_comment"
                 value="{{annotation.submitter_comment}}"/>
        </td>
      </tr>

      <tr>
        <td class="title">Annotation extension</td>
        <td>
          <textarea class="form-control"
                    ng-model="annotation.annotation_extension"
                    value="{{annotation.annotation_extension}}"/>
        </td>
      </tr>

      <tr>
        <td class="title">Curator</td>
        <td>{{annotation.curator}}</td>
      </tr>

    </table>

  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isValid()">OK</button>
  </div>

</div>
