<tr>
  <td ng-if="annotationType.feature_type === 'gene' && !geneIdentifier">{{annotation.gene_name_or_identifier}}</td>
  <td ng-if="annotationType.feature_type === 'genotype' && !genotypeIdentifier">{{annotation.genotype_display_name}}</td>
  <td>{{annotation.term_ontid}}</td>
  <td>
    <span ng-if="!data.changes">{{annotation.term_name}}</span>
    <term-name-complete ng-if="data.changes"
                        current-term-name="{{annotation.term_name}}"
                        found-term-id="data.changes.term_ontid"
                        found-term-name="data.changes.term_name"
                        annotation-type-name="{{annotationType.name}}">
    </term-name-complete>
  </td>
  <td>
    <span ng-if="!data.changes">{{annotation.evidence_code}}</span>
    <select class="form-control"
            ng-if="data.changes"
            ng-model="data.changes.evidence_code"
            ng-options="code for code in annotationType.evidence_codes">
      <option selected="selected" value="">Choose an evidence code ...</option>
    </select>
  </td>
  <td>
    <span ng-if="!data.changes">{{annotation.with_or_from_display_name}}</span>
    <select class="form-control"
            ng-if="data.changes && evidenceTypes[data.changes.evidence_code || annotation.evidence_code].with_gene"
            ng-model="data.changes.with_or_from_identifer"
            ng-options="gene.primary_identifier as gene.display_name for gene in genes">
      <option selected="selected" value="">Choose a gene ...</option>
    </select>
  </td>
  <td>{{annotation.conditions}}</td>
  <td>{{annotation.qualifiers}}</td>
  <td>
    <span ng-if="!data.changes">
      <span ng-if="annotation.term_suggestion"
            title="{{annotation.term_suggestion.definition}}">{{annotation.term_suggestion.name}}</span>
    </span>
    <div ng-if="data.changes">
      <input class="form-control"
             type="text" placeholder="Name ..."
             ng-model="data.changes.term_suggestion.name"
             value="{{annotation.term_suggestion.name}}"/>
      <textarea class="form-control"
                ng-if="data.changes" placeholder="Definition ..."
                ng-model="data.changes.term_suggestion.definition"
                value="{{annotation.term_suggestion.definition}}"/>
    </div>
  </td>
  <td>
    <span ng-if="!data.changes">{{annotation.comment}}</span>
    <input class="form-control"
           ng-if="data.changes" type="text"
           ng-model="data.changes.comment"
           value="{{annotation.comment}}"/>
  </td>
  <td>
    <span ng-if="!data.changes">{{annotation.annotation_extension | breakExtensions}}</span>
    <textarea class="form-control"
              ng-if="data.changes"
              ng-model="data.changes.annotation_extension"
              value="{{annotation.annotation_extension}}"/>
  </td>
  <td>{{annotation.curator}}</td>
  <td>
    <a ng-if="!data.changes" ng-click="edit()">Edit</a> 
    <div ng-if="data.changes">
      <div>
        <a ng-click="saveEdit()">Save</a>
      </div>
      <div>
        <a ng-click="cancelEdit()">Cancel</a>
      </div>
    </div>
  </td>
</tr>
