<div>
  <div ng-show="annotations.length > 0">
    <span ng-if="featureStatusFilter === 'new'" class="curs-annotation-sub-heading">
      <span ng-if="!alleleCountFilter">
        New annotations from this session
      </span>
      <span ng-if="alleleCountFilter">
        New {{alleleCountFilter}} allele annotations
      </span>
      <span ng-show="featureFilterDisplayName">
        for {{featureFilterDisplayName}}
      </span>
    </span>
    <span ng-if="featureStatusFilter === 'existing' && annotations !== null && annotations.length > 0"
          class="curs-annotation-sub-heading">
      <span ng-if="!alleleCountFilter">
        Existing annotations
      </span>
      <span ng-if="alleleCountFilter">
        Existing {{alleleCountFilter}} allele annotations
      </span>
      <span ng-show="featureFilterDisplayName">
        for {{featureFilterDisplayName}}
      </span>
    </span>
    <div class="curs-annotation-table">
      <div class="list" ng-switch="annotationType.category">
        <table ng-switch-when="ontology" class="list">
          <thead>
            <tr>
              <th ng-if="multiOrganismMode && annotationType.feature_type !== 'metagenotype'">Organism</th>
              <th ng-if="multiOrganismMode && annotationType.feature_type === 'genotype'&& !data.hideColumns.strain_name">Strain</th>
              <th ng-if="annotationType.feature_type == 'genotype'">Genes</th>
              <th ng-if="annotationType.feature_type == 'genotype' && !data.hideColumns.genotype_background">Background</th>
              <th ng-if="annotationType.feature_type == 'genotype' && !data.hideColumns.genotype_name">Genotype name</th>
              <th ng-if="annotationType.feature_type == 'genotype' || !featureIdFilter && annotationType.feature_type != 'metagenotype'">{{displayAnnotationFeatureType}}
                <span ng-if="annotationType.feature_type == 'genotype'">(allele and expression)</span>
              </th>
              <th ng-if="annotationType.feature_type == 'metagenotype'">Pathogen genotype</th>
              <th ng-if="annotationType.feature_type == 'metagenotype'">Host genotype</th>
              <th>Term ID</th>
              <th>Term name</th>
              <th ng-if="!data.hideColumns.evidence_code">Evidence code</th>
              <th ng-if="annotationType.can_have_with && !data.hideColumns.with_or_from_identifier">With</th>
              <th ng-if="!data.hideColumns.gene_product_form_id">Gene product form ID</th>
              <th ng-if="annotationType.can_have_conditions && !data.hideColumns.conditions">Conditions</th>
              <th ng-if="!data.hideColumns.qualifiers">Qualifiers</th>
              <th ng-if="!data.hideColumns.term_suggestion">Term suggestion</th>
              <th ng-if="!data.hideColumns.submitter_comment">Comment</th>
              <th ng-if="!data.hideColumns.extension">Annotation extension</th>
              <th ng-if="!data.hideColumns.curator">Curator</th>
            </tr>
          </thead>
          <tbody>
            <tr annotation-table-row add-links="addLinks()"
                annotation-type-name="ontology"
                feature-status-filter="{{featureStatusFilter}}"
                ng-repeat="annotation in annotations">
            </tr>
          </tbody>
        </table>
        <table ng-switch-when="interaction" class="list">
          <thead>
            <tr>
              <th>Interactor A</th>
              <th ng-if="multiOrganismMode">Taxon Id A</th>
              <th ng-if="!data.hideColumns.evidence_code">Evidence</th>
              <th ng-if="annotationType.can_have_conditions && !data.hideColumns.conditions">Conditions</th>
              <th>Interactor B</th>
              <th ng-if="multiOrganismMode">Taxon Id B</th>
              <th>Term ID</th>
              <th>Term name</th>
              <th ng-if="!data.hideColumns.extension">Annotation extension</th>
              <th ng-if="!data.hideColumns.qualifiers">Qualifiers</th>
              <th ng-if="!data.hideColumns.submitter_comment">Comment</th>
              <th ng-if="!data.hideColumns.curator">Curator</th>
            </tr>
          </thead>
          <tbody>
            <tr annotation-table-row annotation-type-name="interaction"
                feature-status-filter="{{featureStatusFilter}}"
                ng-repeat="annotation in annotations">
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
