<div class="clearall">
  <div ng-hide="annotationTypes.length">
    <img ng-src="{{app_static_path + '/images/spinner.gif'}}"></img>
Annotation loading...
  </div>
  <div class="error_message" ng-show="data.serverError">
    Error: {{data.serverError}}
  </div>
  <div ng-show="!data.serverError && annotationTypes.length > 0"
       id="curs-annotation-tables" class="ng-cloak sect">
    <div ng-repeat="annotationType in annotationTypes">
      <div class="curs-annotation-table-group curs-box"
           ng-show="serverErrorsByType[annotationType.name] || byTypeSplit[annotationType.name] && countKeys(byTypeSplit[annotationType.name])">
        <div class="curs-box-title">
          {{capitalizeFirstLetter(annotationType.display_name)}}
        </div>
        <div>
          <a ng-if="canTransfer(annotationType)"
             ng-click="transferAll(annotationType)"
             href="#"
             title="{{'Copy all annotations from this ' + annotationType.feature_type + ' to another'}}"
             class="curs-annotation-table-transfer-all">Transfer {{annotationType.display_name}} annotation ...</a>
        </div>
        <div class="curs-box-body" ng-show="serverErrorsByType[annotationType.name]">
          <div class="error_message" >
            Error for {{annotationType.name}}: {{serverErrorsByType[annotationType.name]}}
          </div>
        </div>
        <div class="curs-box-body">
          <div ng-if="annotationType.feature_type != 'genotype' || annotationType.category == 'genotype_interaction'">
            <annotation-table annotation-type-name="{{annotationType.name}}"
                              annotations="byTypeSplit[annotationType.name].new"
                              show-features="true"
                              show-menu="true"
                              show-checkboxes="false"
                              feature-status-filter="new"
                              feature-filter-display-name="{{featureFilterDisplayName}}"
                              show-metagenotype-link="showMetagenotypeLink">
            </annotation-table>
            <annotation-table annotation-type-name="{{annotationType.name}}"
                              annotations="byTypeSplit[annotationType.name].existing"
                              show-features="true"
                              show-menu="false"
                              show-checkboxes="false"
                              feature-status-filter="existing"
                              feature-filter-display-name="{{featureFilterDisplayName}}"
                              show-metagenotype-link="showMetagenotypeLink">
            </annotation-table>
          </div>
          <div ng-if="annotationType.feature_type == 'genotype' && annotationType.category != 'genotype_interaction'">
            <annotation-table annotation-type-name="{{annotationType.name}}"
                              annotations="byTypeSplit[annotationType.name].new.single"
                              show-features="true"
                              show-menu="true"
                              show-checkboxes="false"
                              feature-status-filter="new"
                              allele-count-filter="single"
                              feature-filter-display-name="{{featureFilterDisplayName}}">
            </annotation-table>
            <annotation-table annotation-type-name="{{annotationType.name}}"
                              annotations="byTypeSplit[annotationType.name].new.multi"
                              show-features="true"
                              show-menu="true"
                              show-checkboxes="false"
                              feature-status-filter="new"
                              allele-count-filter="multi"
                              feature-filter-display-name="{{featureFilterDisplayName}}">
            </annotation-table>
            <annotation-table annotation-type-name="{{annotationType.name}}"
                              annotations="byTypeSplit[annotationType.name].existing.single"
                              show-features="true"
                              show-menu="false"
                              show-checkboxes="false"
                              feature-status-filter="existing"
                              allele-count-filter="single"
                              feature-filter-display-name="{{featureFilterDisplayName}}">
            </annotation-table>
            <annotation-table annotation-type-name="{{annotationType.name}}"
                              annotations="byTypeSplit[annotationType.name].existing.multi"
                              show-features="true"
                              show-menu="false"
                              show-checkboxes="false"
                              feature-status-filter="existing"
                              allele-count-filter="multi"
                              feature-filter-display-name="{{featureFilterDisplayName}}">
            </annotation-table>
          </div>
        </div>
    </div>
  </div>
</div>
