<span>
<div class="row">
  <div class="col-md-12">
  <table>
    <tr>
      <td>
Select conditions
      </td>
      <td>
        <ul class="curs-allele-conditions">
        </ul>
      </td>
    </tr>
  </table>
  </div>
</div>
  <div class="curs-allele-condition-buttons row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div>
Previously used conditions (click to add to list):
      </div>
      <span ng-repeat="cond in usedConditions">
        <button type="button" class="btn btn-default btn-sm"
                ng-click="addCondition(cond.name)">
          <i class="glyphicon glyphicon-plus"></i> {{cond.name}}
        </button>
      </span>
    </div>
  </div>
</span>
