<div>
  <div>
    <ul class="curs-allele-conditions"></ul>
    <help-icon key="experimental_conditions_definition"></help-icon>
  </div>
  <div ng-if="usedConditions.length > 0" class="curs-used-conditions" >
    <span>Previously used (click to add):</span>
    <span ng-repeat="cond in usedConditions">
      <button type="button" class="btn btn-default btn-sm"
              ng-click="addCondition(cond.name)">
        <i class="glyphicon glyphicon-plus"></i> {{cond.name}}
      </button>
    </span>
  </div>
  <div class="voffset2"></div>
</div>
