<div class="curs-diploid-constructor">
  <form name="cursDiploidConstructor" class="curs-diploid-constructor-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <span>
          Create diploid locus
        </span>
      </h4>
    </div>

    <div class="modal-body">
      <div class="curs-diploid-constructor-choices">
        <input type="radio" value="homozygous" id="homozygous" name="homozygous" ng-model="diploidType"/>
        <label for="homozygous">homozygous
          <span ng-bind-html="startAllele.long_display_name | encodeAlleleSymbols | toTrusted"></span>
        </label>
      </div>
      <div ng-hide="isWTAndWTExpression(startAllele)" class="curs-diploid-constructor-choices">
        <input type="radio" value="wild type" id="wild-type" name="wild-type" ng-model="diploidType"/>
        <label for="wild-type">
          <span ng-bind-html="startAllele.long_display_name | encodeAlleleSymbols | toTrusted"></span> / wild type</label>
      </div>
      <div class="curs-diploid-constructor-choices" ng-show="selectorAlleles.length != 0">
        <input type="radio" id="other" value="other" name="other" ng-model="diploidType"/>
        <label for="other">
          <span ng-bind-html="startAllele.long_display_name | encodeAlleleSymbols | toTrusted"></span>
          /
          <span ng-if="selectorAlleles.length == 1">{{selectorAlleles[0].displayName}}</span>
        </label>
        <allele-selector
          mousedown-handler="alleleSelectorMousedown()"
          allele-selected="alleleSelected(alleleId)"
          ng-if="selectorAlleles.length != 1"
          initial-selected-allele="{{selectedAlleleId}}" alleles="selectorAlleles">
        </allele-selector>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
              ng-disabled="!isValid()">OK</button>
    </div>
  </form>
</div>
