<span style="padding-bottom: 10px">
  <span ng-if="rangeConfig.type == 'Gene'">
    <span ng-if="disabled">Gene</span>
    <feature-chooser ng-if="!disabled && genes"
                     features="genes" feature-type="gene"
                     feature-editable="true"
                     chosen-feature-uniquename="extensionRelation.rangeValue"
                     chosen-feature-display-name="extensionRelation.rangeDisplayName"
                     chosen-feature-id="rangeGeneId"></feature-chooser>
    <a ng-click="openSingleGeneAddDialog()">Add new gene to this session…</a>
  </span>
  <span ng-if="rangeConfig.type == 'Metagenotype'">
    <span ng-if="disabled">Metagenotype</span>
    <feature-chooser ng-if="!disabled && metagenotypes"
                     feature-editable="true"
                     features="metagenotypes" feature-type="'metagenotype'"
                     chosen-feature-display-name="extensionRelation.rangeDisplayName"
                     chosen-feature-id="extensionRelation.rangeValue"></feature-chooser>
  </span>
  <span ng-if="rangeConfig.type == 'Ontology'">
    <span ng-if="disabled">Term name</span>
    <span ng-if="!disabled">
      <term-name-complete current-term-name="{{extensionRelation.rangeDisplayName}}"
                          found-callback="termFoundCallback(termId, termName, searchString)"
                          mode="extension" size="60"
                          annotation-type-name="{{rangeOntologyScope}}"></term-name-complete>
    </span>
  </span>
  <span ng-if="rangeConfig.type == 'Text'">
    <span ng-if="disabled">Value</span>
    <input ng-if="!disabled"
           type="text" required ng-model="extensionRelation.rangeValue"/>
  </span>
  <span ng-if="rangeConfig.type == '%'">
    <span ng-if="disabled">Quantitative value (e.g. 45%):</span>
    <span ng-if="!disabled">
      <input type="text" required ng-model="extensionRelation.rangeValue"
             size="30" placeholder="Quantitative value (e.g. 45%)"/>
      <span ng-show="!valueIsValid()"
            class="help-block">{{percentParseMessage()}}</span>
    </span>
  </span>
  <span ng-if="rangeConfig.type == 'Number'">
    <span ng-if="disabled">Value</span>
    <input ng-if="!disabled"
           type="number" required ng-model="extensionRelation.rangeValue"/>
  </span>
  <span ng-if="rangeConfig.type === 'TaxonID' || rangeConfig.type === 'PathogenTaxonID' || rangeConfig.type === 'HostTaxonID'">
    <organism-selector
      ng-if="!disabled && organisms"
      organisms="organisms"
      organism-selected="organismSelected(organism)">
    </organism-selector>
  </span>
</span>
