<div ng-show="relationConfig.displayText" style="padding-bottom: 10px">
  <span>{{relationConfig.displayText}}</span>
  <span ng-if="rangeType == 'Gene'">
    <feature-chooser feature-type="gene" chosen-feature-uniquename="extensionPart.rangeValue"
                     chosen-feature-display-name="extensionPart.rangeDisplayName"
                     chosen-feature-id="rangeGeneId"></feature-chooser>
  </span>
  <span ng-if="rangeType == 'Ontology'">
    rangeOntologyScope: {{rangeOntologyScope}}
    <term-name-complete current-term-name="{{rangeTermName}}"
                        found-callback="termFoundCallback(termId, termName)"
                        annotation-type-name="{{rangeOntologyScope}}"></term-name-complete>
  </span>
  <span ng-if="rangeType == 'Text'">
    <input type="text" required ng-model="extensionPart.rangeValue"/>
  </span>
  <span ng-if="rangeType == 'Number'">
    <input type="number" required ng-model="extensionPart.rangeValue"/>
  </span>
</div>
