<div class="curs-extension-builder">
  <div>{{asString()}}</div>
  <ul>
    <li ng-repeat="extConf in matchingConfigurations">
      {{extConf.extension}}
      <span ng-if="extConf.range == 'GENE'">
        <feature-chooser feature-type="gene" chosen-feature-id="extConf.rangeValue"></feature-chooser>
      </span>
      <span ng-if="extConf.range == 'ONTOLOGY'">
        <term-name-complete current-term-name=""
                            found-callback="extConf.termFoundCallback(termId)"
                            annotation-type-name="{{extConf.rangeNamespace}}"></term-name-complete>
      </span>
    </li>
  </ul>
</div>
