<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      Edit extension as text
    </h4>
  </div>
  <div class="modal-body">
    <extension-manual-edit extension="editExtension"
                           current-error="currentError"
                           matching-configurations="matchingConfigurations"></extension-manual-edit>
  </div>
  <div class="modal-footer">
  <div>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" title="{{currentError}}" ng-disabled="!isValid()">OK</button>
  </div>
</div>
