<div class="modal-content">
  <div class="modal-body">
    <div>{{relationConfig.displayText}}</div>
    <div ng-if="relationConfig.range.length == 1">
      <extension-relation-edit extension-relation="extensionRelation"
                               relation-config="relationConfig"
                               range-config="relationConfig.range[0]"
                               term-id="{{data.termId}}"
                               gene-systematic-id="{{data.geneSystematicId}}"
                               disabled="false"
                               finished-callback="finishedCallback()"></extension-relation-edit>

    </div>
    <div ng-if="relationConfig.range.length > 1">
      <div ng-repeat="rangeConfig in relationConfig.range">
        <label><input type="radio" ng-model="selected.rangeType"
                      value="{{rangeConfig.type}}">
        </label>
        <extension-relation-edit extension-relation="extensionRelation"
                                 relation-config="relationConfig"
                                 range-config="rangeConfig"
                                 term-id="{{data.termId}}"
                                 gene-systematic-id="{{data.geneSystematicId}}"
                                 disabled="rangeConfig.type != selected.rangeType"
                                 finished-callback="finishedCallback()"></extension-relation-edit>
        <div ng-if="!$last">OR</div>
      </div>
    </div>
    <div ng-show="relationConfig.helpText" class="curs-ext-rel-dialog-help-text">
      Hint: {{relationConfig.helpText}}
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" title="{{okTitle()}}"
            ng-click="ok()" ng-alt-enter="ok()" ng-disabled="!isValid()">OK</button>
  </div>
</div>
