<div ng-show="relationConfig.displayText" style="padding-bottom: 10px">
  <span>{{relationConfig.displayText}}</span>
   <span ng-if="relationConfig.range == 'ProteinID'">
    <feature-chooser feature-type="gene" chosen-feature-uniquename="extensionPart.rangeValue"
                     chosen-feature-display-name="extensionPart.rangeDisplayName"
                     chosen-feature-id="rangeGeneId"></feature-chooser>
  </span>
  <span ng-if="relationConfig.range == 'ONTOLOGY'">
    <term-name-complete current-term-name="{{rangeTermName}}"
                        found-callback="termFoundCallback(termId, termName)"
                        annotation-type-name="{{relationConfig.rangeNamespace}}"></term-name-complete>
  </span>
</div>
