<div class="curs-extension-builder-dialog modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      Edit extension
    </h4>
  </div>
  <div class="modal-body">
    <extension-builder extension="data.extension" term-id="{{data.termId}}"
                       feature-display-name="{{data.featureDisplayName}}"
                       gene-systematic-id="{{data.geneSystematicId}}"
                       is-valid="extensionBuilderIsValid"
                       annotation-type-name="{{data.annotationTypeName}}"
                       feature-type="data.featureType"></extension-builder>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-disabled="!extensionBuilderIsValid"
            ng-click="ok()" ng-alt-enter="ok()">OK</button>
  </div>
</div>
