<span style="padding-bottom: 10px">
  <span ng-if="rangeConfig.type == 'Gene'">
    <span ng-if="disabled">Gene</span>
    <feature-chooser ng-if="!disabled && genes"
                     features="genes" feature-type="gene"
                     chosen-feature-uniquename="extensionRelation.rangeValue"
                     chosen-feature-display-name="extensionRelation.rangeDisplayName"
                     chosen-feature-id="rangeGeneId"></feature-chooser>
  </span>
  <span ng-if="rangeConfig.type == 'Ontology'">
    <span ng-if="disabled">Term name</span>
    <span ng-if="!disabled">
      <term-name-complete current-term-name="{{extensionRelation.rangeDisplayName}}"
                          found-callback="termFoundCallback(termId, termName, searchString)"
                          mode="extension" size="60"
                          annotation-type-name="{{rangeOntologyScope}}"></term-name-complete>
      <span class="curs-extension-name-complete-hint">(Start typing a description)</span>
    </span>
  </span>
  <span ng-if="rangeConfig.type == 'Text'">
    <span ng-if="disabled">Value</span>
    <input ng-if="!disabled"
           type="text" required ng-model="extensionRelation.rangeValue"/>
  </span>
  <span ng-if="rangeConfig.type == '%'">
    <span ng-if="disabled">Quantitative value (e.g. 45%):</span>
    <span ng-if="!disabled">
      <input type="text" required ng-model="extensionRelation.rangeValue"
             size="30" placeholder="Quantitative value (e.g. 45%)"/>
      <span ng-show="!valueIsValid()"
            class="help-block">{{percentParseMessage()}}</span>
    </span>
  </span>
  <span ng-if="rangeConfig.type == 'Number'">
    <span ng-if="disabled">Value</span>
    <input ng-if="!disabled"
           type="number" required ng-model="extensionRelation.rangeValue"/>
  </span>
</span>
