 <div>
   <div ng-show="data.genes">
   <table class="list">
     <thead>
       <tr>
         <th>Identifier</th>
         <th>Name</th>
         <th>&nbsp;</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="gene in data.genes">
         <td>{{gene.primary_identifier}}</td>
         <td>{{gene.primary_name}}</td>
         <td><input type="checkbox" value="{{gene.selected}}"
                    ng-model="gene.selected"
                    ng-change="selectedGenesFilter()"></td>
       </tr>
     </tbody>
   </table>

   <a href="" ng-click="addAnotherGene()">Add another gene from the paper ...</a>
   </div>
   <div ng-hide="data.genes">
     Loading ...
  </div>
</div>
