<div class="genotype-list-row-links">
  <div>
    <a ng-class="{disabled: genotypeId == null }" ng-if="!read_only_curs"
       href="{{curs_root_uri + '/feature/genotype/annotate/' + genotypeId + '/start/phenotype/'}}">
      Annotate a phenotype for this genotype ...
    </a>
  </div>
  <div>
    <a ng-class="{disabled: genotypeId == null }" href="{{viewAnnotationUri}}">
      View phenotype annotations ...
    </a>
  </div>
  <div>
    <a confirm="This genotype has existing annotations.  Really edit?"
       confirm-if="annotationCount > 0"
       ng-class="{disabled: genotypeId == null }" ng-if="!read_only_curs"
       ng-click="editGenotype(genotypeId)">Edit details ...</a>
  </div>
  <div>
    <a ng-class="{disabled: genotypeId == null }" ng-if="!read_only_curs"
       href="{{curs_root_uri + '/genotype_manage#/duplicate/' + genotypeId}}">Copy and edit ...</a>
  </div>
  <div title="{{annotationCount > 0 ? 'Genotypes with more than one annotation cannot be deleted - delete the annotations first' : ''}}">
    <a ng-class="{disabled: genotypeId == null || annotationCount > 0}"
       ng-if="!read_only_curs"
       confirm="Are you sure you want to remove this genotype from your session?"
       ng-click="deleteGenotype(genotypeId)">Delete ...</a>
  </div>
</div>
