<tbody>
    <tr>
        <td ng-if="showCheckBoxActions" class="curs-genotype-checkbox-column" rowspan="{{genotype.alleles.length}}">
            <input
              type="radio"
              name="{{inputNameValue}}"
              ng-model="data.selectedGenotype"
              ng-click="genotypeSelected(genotype)"
              value="{{genotype}}" />
        </td>
        <td>
            <a href="{{curs_root_uri + '/feature/gene/view/' + firstAllele.gene_id + (read_only_curs ? '/ro' : '')}}">{{firstAllele.gene_display_name}}</a>
        </td>
        <td>
            <span ng-bind-html="firstAllele.long_display_name | encodeAlleleSymbols | toTrusted"></span>
        </td>
        <td rowspan="{{genotype.alleles.length}}">
            <span ng-bind-html="genotype.strain_name | formatExpression | toTrusted"></span>
        </td>
        <td rowspan="{{genotype.alleles.length}}" ng-show="showBackground">
          <span ng-bind-html="genotype.background | wrapAtSpaces | encodeAlleleSymbols | toTrusted"></span>
        </td>
    </tr>
    <tr ng-repeat="currentAllele in otherAlleles track by $index">
        <td>
            <a href="{{curs_root_uri + '/feature/gene/view/' + currentAllele.gene_id + (read_only_curs ? '/ro' : '')}}">{{currentAllele.gene_display_name}}</a>
        </td>
        <td>
            <span ng-bind-html="currentAllele.long_display_name | encodeAlleleSymbols | toTrusted"></span>
        </td>
    </tr>
</tbody>
