<div class="curs-genotype-edit">
    <div class="row">
      <div class="col-sm-7 col-md-7">
        <div>
          Name: <input type="text" title="Click to edit (optional) genotype name" href="#"
                       placeholder="short genotype name (optional)"
                       size="50"
                       ng-model="data.genotypeName" />
          <help-icon key="genotype_edit_name_input"></help-icon>
        </div>
        <div>
          Background: <input type="text" title="Click to edit (optional) genotype background" href="#"
                             placeholder="genotype background (optional)"
                             size="50"
                             ng-model="data.genotypeBackground" />
          <help-icon key="genotype_edit_background_input"></help-icon>
        </div>
        <div>
          Comment: <input type="text" title="(optional) genotype comment" href="#"
                             placeholder="comment (optional)"
                             size="50"
                             ng-model="data.genotypeComment" />
        </div>
        <div ng-if="multi_organism_mode"
             class="curs-genotype-edit__organism-label">
          Organism: {{ data.organismName }}
        </div>
        <div ng-if="strains_mode">
          Strain: <strain-selector
            strains="strains"
            strain-selected="strainSelected(strain)"
            style-class="strain-selector__select--genotype-edit">
          </strain-selector>
        </div>
      </div>
      <div class="col-sm-5 col-md-5">
        <div ng-show="editOrDuplicate == 'edit' && data.annotationCount > 0"
             class="curs-right-info-message">
          <div ng-show="data.annotationCount == 1">
            Note: this genotype has an existing annotation
          </div>
          <div ng-show="data.annotationCount > 1">
            Note: this genotype has {{data.annotationCount}} existing annotations
          </div>
        </div>
        <div ng-hide="wildTypeCheckPasses" class="curs-right-info-message">
          A wild type allele with wild type product level is only valid in a
          genotype that has another allele of the same gene.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div ng-hide="genes.length">
          <img ng-src="{{app_static_path + '/images/spinner.gif'}}"></img>
          Loading genes...
        </div>
        <div class="curs-genotype-edit-gene-list" ng-show="genes.length">
          <table class="list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="gene in genes">
                <td>{{gene.primary_name}}</td>
                <td>{{gene.primary_identifier}}</td>
                <td>
                  <button class="btn btn-primary btn-xs"
                          ng-click="openAlleleEditDialog(true, {gene: gene})">Add allele ..</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="curs-genotype-edit-allele-list"
             id="multi-allele-genotype" class="ng-cloak" ng-show="data.alleleGroups.length">

          <div ng-repeat="group in data.alleleGroups">
            <span ng-if="group.name == 'haploid'">Haploid alleles:</span>
            <span ng-if="group.name != 'haploid'">Diploid {{group.name}}:</span>

          <table ng-if="group.alleles.length != 0" class="list">
            <thead>
              <tr>
                <th>Gene</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th ng-if="allelesHaveExpression">Expression</th>
              </tr>
            </thead>
            <tbody ng-repeat="allele in group.alleles">
              <td>{{allele.gene_display_name}}</td>
              <td>{{allele.name}}</td>
              <td>{{allele.type}}</td>
              <td>{{allele.description}}</td>
              <td ng-if="allelesHaveExpression">{{allele.expression}}
                <div ng-if="allele.promoter_gene" class="curs-promoter-display">Promoter: {{allele.promoter_gene}}</div>
              </td>
              <td class="curs-table-row-remove">
                <div>
                  <a href="" style="white-space: nowrap;"
                     ng-click="openAlleleEditDialog(false, allele)">Edit</a>
                </div>
                <div>
                  <a href="" style="white-space: nowrap;" ng-click="removeAllele(allele)"
                     title="Remove this allele from the genotype">Remove</a>
                </div>
              </td>
            </tbody>
          </table>
          </div>
        </div>
        <button type="submit" class="btn btn-primary curs-finish-button"
                title="{{ isValid() ? 'Store changes ' : (wildTypeCheckPasses ? 'At least one allele for each gene is required' : 'Wild type allele needs a non wild type product level') }}"
                ng-click="store()" ng-disabled="!isValid()">Finish</button>
        <button type="submit" class="btn btn-warning curs-finish-button"
                ng-click="cancel()">Cancel</button>
      </div>
    </div>
    <div class="upload-genes-link">
      <a ng-click="openSingleGeneAddDialog()">Add another gene from the paper</a>
    </div>
</div>
