<div class="curs-genotype-gene-list" ng-show="genes">
  <div ng-show="!data.selectedOrganism">
    <span ng-show="label">{{label}}</span>
    <select name="select-organism" ng-model="data.selectedOrganism"
            ng-options="o as o.full_name for o in data.organismsOfGenes">
      <option value="">Select an organism ...</option>
    </select>
  </div>
  <div class="curs-genotype-edit-gene-list"
       ng-if="data.selectedOrganism">
    <span ng-show="multiOrganismMode">
      <span ng-show="label">{{label}}</span>
      <span style="font-size: 90%; font-weight: bold;">
        {{data.selectedOrganism.full_name}} genes
      </span>
      <span ng-show="data.organismsOfGenes.length != 1">
        (<a ng-click="data.selectedOrganism = null">change ...</a>)
      </span>
    </span>

    <table class="list">
      <thead>
        <tr>
          <th>Gene</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gene in selectedOrganismGenes()">
          <td ng-if="gene.primary_name" title="{{gene.primary_name}} ({{gene.primary_identifier}})">{{gene.primary_name}}</td>
          <td ng-if="!gene.primary_name" title="{{gene.primary_identifier}}">{{gene.primary_identifier}}</td>
          <td>
            <button class="btn btn-primary btn-xs"
                    title="{{deletionButtonTitle(gene.gene_id)}}"
                    ng-disabled="hasDeletionGenotype(gene.gene_id)"
                    ng-click="makeDeletionAllele(gene.gene_id)">Deletion</button>
          </td>
          <td>
            <button class="btn btn-primary btn-xs"
                    ng-click="singleAlleleQuick(gene.primary_name || gene.primary_identifier, gene.primary_identifier, gene.gene_id)">Other genotype ...</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
