<table ng-show="ready" class="list">
  <thead>
    <tr>
      <th>
        Genotype
      </th>
      <th>
        Interaction type
      </th>
      <th>
        Genotype
      </th>
      <th ng-if="showPhenotypesLink">
        Phenotypes
      </th>
      <th ng-if="allowDeletion" style="border: 0; background-color: white;">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="interaction in interactions">
      <td>{{interaction.genotype_a.display_name}}</td>
      <td>{{interaction.interaction_type}}</td>
      <td>{{interaction.genotype_b.display_name}}</td>
      <td ng-show="showPhenotypesLink">
        <a ng-click="viewPhenotypes(interaction)">View ...</a>
      </td>
      <td ng-if="allowDeletion" style="border: 0; background-color: white;">
        <a title="delete" ng-click="deleteInteraction(interaction)"
           style="color: red">X</a>
      </td>
    </tr>
  </tbody>
</table>
