<tr>
  <td>
    <span>
      <a href="{{curs_root_uri + '/feature/genotype/view/' + genotype.id_or_identifier}}">
        <p ng-bind-html="genotype.allele_string | addZeroWidthSpace | toTrusted"></p></a>
    </span>
  </td>
  <td>
    <span>
      <a href="{{curs_root_uri + '/feature/genotype/view/' + genotype.id_or_identifier}}">
        <p ng-bind-html="genotype.name | addZeroWidthSpace | toTrusted"></p></a>
    </span>
  </td>
  <td class="table-row-actions">
    <div ng-if="!genotype.genotype_id">
      <a href="{{curs_root_uri + '/feature/genotype/view/' + genotype.id_or_identifier}}">
Use this genotype ...
      </a>
    </div>
    <div ng-if="genotype.genotype_id">
      <a href="{{curs_root_uri + '/feature/genotype/annotate/' + genotype.id_or_identifier + '/start/phenotype'}}">Add phenotype ...</a>
    </div>
    <div ng-if="genotype.genotype_id">
      <a href="#" ng-click="deleteGenotype()">Delete ...</a>
    </div>
  </td>
</tr>
55
