<div class="curs-genotype-list" ng-show="genotypeList.length > 0">
  <table class="list">
    <thead>
      <tr>
        <th>
Description
        </th>
        <th>
Background
        </th>
        <th>
Name (optional)
        </th>
        <th>
Annotations
        </th>
      </tr>
    </thead>
    <tbody>
      <tr genotype-list-row ng-repeat="currentGenotype in genotypeList"
          ng-click="setSelected(currentGenotype.genotype_id)"
          selected-genotype-id="selectedGenotypeId"
          genotype="currentGenotype">
      </tr>
    </tbody>
  </table>
</div>
