<div class="curs-extension-builder-dialog modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      Edit genotype background
    </h4>
  </div>
  <div class="modal-body">
    <input class="form-control"
           type="text" placeholder="Background" size="60"
           ng-model="data.background"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="finish()" ng-alt-enter="finish()">Finish</button>
  </div>
</div>
