<tr ng-class="{ selected: selectedGenotypeId == genotype.genotype_id }">
  <td>
    <a href="#" ng-click="" ng-bind-html="genotype.allele_string | wrapAtSpaces | encodeAlleleSymbols | toTrusted"></p>
  </td>
  <td>
    <span ng-bind-html="genotype.background | wrapAtSpaces | toTrusted"></span>
  </td>
  <td>
    <span ng-bind-html="genotype.name | wrapAtSpaces | encodeAlleleSymbols | toTrusted"></span>
  </td>
  <td>
    {{genotype.annotation_count}}
  </td>
  <td ng-if="!read_only_curs && navigateOnClick" class="table-row-actions">
    <a href="{{curs_root_uri + '/genotype_manage#/select/' + genotype.id_or_identifier}}">
      <span style="white-space: nowrap">Details ...</span>
    </a>
  </td>
</tr>
