<table ng-show="ready" class="list">
  <thead>
    <tr>
      <th ng-show="showDoubleMutantPhenotype">
        Double mutant phenotype
      </th>
      <th>
        Genotype
      </th>
      <th>
        Interaction type
      </th>
      <th>
        Genotype
      </th>
      <th ng-if="showPhenotypesLink">
        Rescued phenotype
      </th>
      <th ng-if="allowDeletion" style="border: 0; background-color: white;">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="interaction in interactions">
      <td ng-show="showDoubleMutantPhenotype">
        {{interaction.term_name}}
      </td>
      <td>
        <a href="{{curs_root_uri + '/feature/genotype/view/' + interaction.genotype_a.genotype_id + (read_only_curs ? '/ro' : '')}}">
          <span ng-bind-html="interaction.genotype_a.display_name | breakAtSpaces | toTrusted"></span>
        </a>
      </td>
      <td>{{getDisplayEvidence(interaction)}}</td>
      <td>
        <a href="{{curs_root_uri + '/feature/genotype/view/' + interaction.genotype_b.genotype_id + (read_only_curs ? '/ro' : '')}}">
          <span ng-bind-html="interaction.genotype_b.display_name | breakAtSpaces | toTrusted"></span>
        </a>
      </td>
      <td ng-if="showPhenotypesLink">
        <ul style="padding-left: 1.45em; margin-bottom: 0;">
          <li style="list-style-type: disc" ng-repeat="phenotypeA in genotypeAPhenotypes(interaction)">
            {{phenotypeA.term_name}}
            <div ng-if="phenotypeA.extension">
              <extension-display extension="phenotypeA.extension">
              </extension-display>
            </div>
          </li>
        </ul>
      </td>
      <td ng-if="allowDeletion" style="border: 0; background-color: white;">
        <a title="delete" ng-click="deleteInteraction(interaction)"
           style="color: red">X</a>
      </td>
    </tr>
  </tbody>
</table>
