<tbody ng-class="{ selected: radioVal }">
    <tr>
        <td ng-if="showCheckBoxActions" class="curs-genotype-checkbox-column" rowspan="{{genotype.alleles.length}}">
            <input type="radio" ng-model="genotypeModel" ng-change="isSelected()" value="{{genotype.genotype_id}}" />
        </td>
        <td>
            <a href="{{curs_root_uri + '/feature/gene/view/' + firstAllele.gene_id + (read_only_curs ? '/ro' : '')}}">{{firstAllele.gene_display_name}}</a>
        </td>
        <td>
            <span ng-bind-html="firstAllele.display_name | encodeAlleleSymbols | toTrusted"></span>
        </td>
        <td>
            <span ng-bind-html="firstAllele.expression | formatExpression | toTrusted"></span>
        </td>
        <td rowspan="{{genotype.alleles.length}}" ng-if="navigateOnClick == 'true'" class="table-row-actions">
            <a href="{{detailsUrl}}">
                <span style="white-space: nowrap">Details ...</span>
            </a>
        </td>
        <td style="width: 0; border: 0px; padding: 0; margin: 0; background-color: white;"></td>
    </tr>
    <tr ng-repeat="currentAllele in otherAlleles">
        <td>
            <a href="{{curs_root_uri + '/feature/gene/view/' + currentAllele.gene_id + (read_only_curs ? '/ro' : '')}}">{{currentAllele.gene_display_name}}</a>
        </td>
        <td>
            <span ng-bind-html="currentAllele.display_name | encodeAlleleSymbols | toTrusted"></span>
        </td>
        <td>
            <span ng-bind-html="currentAllele.expression | formatExpression | toTrusted"></span>
        </td>
    </tr>
</tbody>
