<div class="curs-genotype-gene-list">
  <div class="curs-genotype-edit-gene-list">
    <table class="list" ng-if="genes.length > 0">
      <thead>
        <tr>
          <th>Gene</th>
          <th colspan="{{columnCount}}">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gene in genes">
          <td ng-if="gene.primary_name" title="{{gene.primary_name}} ({{gene.primary_identifier}})">
            <a href="{{curs_root_uri + '/feature/gene/view/' + gene.gene_id + (read_only_curs ? '/ro' : '')}}">{{gene.primary_name}}</a>
          </td>
          <td ng-if="!gene.primary_name" title="{{gene.primary_identifier}}">
            <a href="{{curs_root_uri + '/feature/gene/view/' + gene.gene_id + (read_only_curs ? '/ro' : '')}}">{{gene.primary_identifier}}</a>
          </td>
          <td ng-if="showQuickDeletionButtons">
            <button class="btn btn-primary btn-xs"
                    title="{{deletionButtonTitle(gene.gene_id)}}"
                    ng-disabled="hasDeletionGenotype(gene.gene_id)"
                    ng-click="quickDeletion(gene.gene_id)">
              Deletion
            </button>
          </td>
          <td ng-if="showQuickWildTypeButtons">
            <button class="btn btn-primary btn-xs"
                    ng-click="quickWildType(gene.primary_name || gene.primary_identifier, gene.primary_identifier, gene.gene_id)">
              Wild type
            </button>
          </td>
          <td>
            <button class="btn btn-primary btn-xs"
                    ng-click="singleAlleleQuick(gene.primary_name || gene.primary_identifier, gene.primary_identifier, gene.gene_id)">
              {{showQuickDeletionButtons ? 'Other genotype' : 'New genotype'}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
