<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      Edit message for curators
    </h4>
  </div>
  <div class="modal-body">
    <textarea class="form-control"
              placeholder="Message for curators"
              rows="5" cols="90"
              ng-model="data.message">
    </textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="finish()" ng-alt-enter="finish()">Finish</button>
  </div>
</div>
