<div>
    <div class="curs-box-title" style="margin-bottom: 10px;">{{data.typeLabel}} Genotypes</div>
    <div>
        <organism-selector
            hide-label="true"
            organism-selected="organismSelected(organism)"
            genotype-type="data.genotypeType">
        </organism-selector>
        <div ng-if="data.allOrganisms">
            <div ng-if="data.pathogenOrganisms.length != 0">
                <div ng-if="data.selectedOrganism">
                    <div class="curs-box-title">Single allele genotypes</div>
                    <div ng-show="data.filteredSingleAllele.length == 0">
                        <p>No Single allele genotypes created</p>
                    </div>
                    <div ng-if="data.filteredSingleAllele.length > 0">
                        <genotype-simple-list-view
                            genotype-list="data.filteredSingleAllele"
                            show-check-box-actions="true"
                            selected-genotype-id="data.selectedOrganism"
                            genotype-model="genotypeModel"
                            callback="callback"
                            radio-name="{{data.typeLabel}}">
                        </genotype-simple-list-view>
                    </div>

                    <div class="curs-box-title">Multi-allele genotypes</div>
                    <div ng-show="data.filteredMultiAllele.length == 0">
                        <p>No Multi-allele genotypes created</p>
                    </div>
                    <div ng-show="data.filteredMultiAllele.length > 0">
                        <genotype-simple-list-view
                            genotype-list="data.filteredMultiAllele"
                            show-check-box-actions="true"
                            selected-genotype-id="data.selectedOrganism"
                            genotype-model="genotypeModel"
                            callback="callback"
                            radio-name="{{data.typeLabel}}">
                        </genotype-simple-list-view>
                    </div>

                    <div ng-if="data.isHost">
                        <div class="curs-box-title">Wildtype genotype</div>
                        <wild-genotype-view
                            genotype="data.wildTypeGenotype"
                            genotype-model="genotypeModel"
                            callback="callback">
                        </wild-genotype-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
