<div>
    <div ng-if="metagenotypes">
        <div class="row">
            <div class="col-md-12">
                <h3>Metagenotypes</h3>
                <p ng-if="metagenotypes.length == 0">
                    No metagenotypes have been created for this pathogen and host species. 
                </p>
                <table ng-if="metagenotypes.length > 0" class="curs-genotype-list">
                    <thead>
                        <tr>
                            <th colspan="{{showBackground.pathogen ? 3 : 2}}">Pathogen</th>
                            <th colspan="{{showBackground.host ? 3 : 2}}">Host</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Species (strain)</th>
                            <th>Genotype</th>
                            <th ng-if="showBackground.pathogen">Background</th>
                            <th>Species (strain)</th>
                            <th>Genotype</th>
                            <th ng-if="showBackground.host">Background</th>
                            <th>Annotations</th>
                        </tr>
                    </thead>
                    <tbody
                    metagenotype-list-row
                    ng-repeat="metagenotype in metagenotypes track by metagenotype.metagenotype_id"
                    show-background="showBackground"
                    metagenotype="metagenotype">
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
