<div id="curs-genotype-manage" class="genotype-list ng-cloak container">
    <div class="row" ng-if="display">
        <div class="col-md-6">
            <metagenotype-genotype-picker
                is-pathogen="true"
                genotype-model="pathogenModel"
                selected-organism="pathogenSelectedOrganism">
            </metagenotype-organism-picker>
        </div>
        <div class="col-md-6">
            <metagenotype-genotype-picker
                is-pathogen="false"
                genotype-model="hostModel"
                selected-organism="hostSelectedOrganism">
            </metagenotype-organism-picker>
        </div>
    </div>
    <div class="row">
        <button ng-click="toGenotype()" type="button" class="btn btn-primary curs-back-button">
            &lt;-- Back to Genotypes
        </button>
        <button
            ng-click="createMetaGenotype()"
            type="button"
            class="btn btn-primary curs-back-button"
            ng-disabled="isPickerSet() == false"
            ng-if="display">
            Make it --&gt;
        </button>
    </div>
    <metagenotype-list></metagenotype-list>
</div>
