<div>
    <div class="curs-box-title" style="margin-bottom: 10px;">{{organismLabel}} Genotypes</div>
    <div>
        <p class="metagenotype-genotype-shortcut">
          <a href="{{genotypeShortcutUrl}}">Create a new {{organismType}} genotype...</a>
        </p>
        <div ng-if="genotypes.single.length > 0 || genotypes.multi.length > 0">
            <div class="curs-box-title">Single allele genotypes</div>
            <div ng-show="genotypes.single.length === 0">
                <p>No Single allele genotypes created</p>
            </div>
            <div ng-if="genotypes.single.length > 0">
                <genotype-simple-list-view
                    genotype-list="genotypes.single"
                    show-check-box-actions="true"
                    genotype-model="genotypeModel">
                </genotype-simple-list-view>
            </div>

            <div class="curs-box-title">Multi-allele genotypes</div>
            <div ng-show="genotypes.multi.length === 0">
                <p>No Multi-allele genotypes created</p>
            </div>
            <div ng-show="genotypes.multi.length > 0">
                <genotype-simple-list-view
                    genotype-list="genotypes.multi"
                    show-check-box-actions="true"
                    genotype-model="genotypeModel">
                </genotype-simple-list-view>
            </div>

            <div ng-if="isHost">
                <div class="curs-box-title">Wildtype genotype</div>
                <wild-genotype-view
                    wild-type="data.wildType"
                    show-check-box-actions="true"
                    genotype-model="genotypeModel">
                </wild-genotype-view>
            </div>
        </div>
    </div>
</div>
