<tbody>
    <tr>
        <td>
          {{ getOrganismName('pathogen') | abbreviateGenus }}
          <span class="curs-strain-name-inline">{{ getStrainName('pathogen') }}</span>
        </td>
        <td ng-bind-html="metagenotype.pathogen_genotype.display_name | encodeAlleleSymbols | toTrusted"></td>
        <td ng-if="showBackground.pathogen">{{ metagenotype.pathogen_genotype.background }}</td>
        <td>
          {{ getOrganismName('host') | abbreviateGenus }}
          <span class="curs-strain-name-inline">{{ getStrainName('host') }}</span>
        </td>
        <td ng-bind-html="metagenotype.host_genotype.display_name | encodeAlleleSymbols | toTrusted"></td>
        <td ng-if="showBackground.host">{{ metagenotype.host_genotype.background }}</td>
        <td>{{ metagenotype.annotation_count }}</td>
        <td class="table-row-actions">
            <div ng-repeat="annotationType in matchingAnnotationTypes">
              <a
                ng-class="{disabled: metagenotype.metagenotype_id == null }"
                ng-if="!read_only_curs"
                href="{{curs_root_uri + '/feature/metagenotype/annotate/' + metagenotype.metagenotype_id + '/start/' + annotationType.name + '/'}}">
                  Annotate {{ annotationType.display_name }}
              </a>
              </div>
            <div>
            <a
                ng-class="{disabled: metagenotype.metagenotype_id == null }"
                href="{{viewAnnotationUri}}">
                    View&nbsp;phenotype&nbsp;annotations</a><br/>
            <a
                ng-class="{disabled: metagenotype.metagenotype_id == null || metagenotype.annotation_count > 0}"
                ng-if="!read_only_curs"
                confirm="Are you sure you want to remove this metagenotype from your session?"
                ng-click="delete()">Delete</a>
            </div>
        </td>
    </tr>
</tbody>
