<div class="genotype-list-row-links">
  <div ng-repeat="annotationType in annotationTypes">
    <a ng-class="{disabled: metagenotypeId == null }" ng-if="!read_only_curs"
       href="{{curs_root_uri + '/feature/metagenotype/annotate/' + metagenotypeId + '/start/' + annotationType.name + '/'}}">
      Start a {{ annotationType.display_name }} annotation ...
    </a>
  </div>
  <div>
    <a ng-class="{disabled: metagenotypeId == null }" href="{{viewAnnotationUri}}">
      View phenotype annotations ...
    </a>
  </div>
  <div title="{{annotationCount > 0 ? 'MetaGenotypes with more than one annotation cannot be deleted - delete the annotations first' : ''}}">
    <a ng-class="{disabled: metagenotypeId == null || annotationCount > 0}"
       ng-if="!read_only_curs"
       confirm="Are you sure you want to remove this genotype from your session?"
       ng-click="deleteMetagenotype(metagenotypeId)">Delete ...</a>
  </div>
</div>
