<div class="curs-multi-feature-chooser">
  <div class="curs-multi-feature-chooser-element"
       ng-repeat="feature in features">
    <label>
      <input type="checkbox" name="selectedFeatureIds[]"
             ng-checked="selectedFeatureIds.indexOf(featurere.feature_id) > -1"
             ng-click="toggleSelection(feature.feature_id)" />
      {{feature.display_name}}
    </label>
  </div>

  <div class="clearall">
    <a ng-click="openSingleGeneAddDialog()">Add another gene ...</a>
  </div>
</div>
