<div>
  <div class="curs-box">
    <div class="curs-box-title">
You have made the following annotation:
    </div>
    <div class="curs-box-body">
      <annotation-single-row-table feature-type="{{featureType}}"
                                   feature-display-name="{{featureDisplayName}}"
                                   annotation-type-name="{{annotationType.name}}"
                                   annotation-details="annotationDetails"></annotation-single-row-table>
    </div>

    <div style="padding: 8px">

  <div class="curs-workflow-fig-or-table" ng-show="showFigureField">
    <label for="figure-field">Figure or table:</label>
    <input id="figure-field" type="text" ng-model="figOrTable" placeholder="e.g. Figure 1, Table 1"/>
    <p>Prefix figure numbers with 'Figure' and table numbers with 'Table'. Prefix supplementary figure and table numbers with an 'S', for example: 'Figure S1'.</p>
  </div>

  <div class="curs-workflow-confirm-comment">
  <div ng-show="annotationType && annotationType.annotation_comment_help_text">
    {{annotationType.annotation_comment_help_text}}
  </div>

  <div ng-hide="annotationType.annotation_comment_help_text">
Additional information (optional):
<span ng-if="!showFigureField">you can supply figure or table numbers, or</span>
provide any details you have for this annotation that do not fit into the
available evidence, extension options, etc.
  </div>
  </div>

  <textarea ng-model="comment"
            class="annotation-comment" cols="80"
            rows="6" style="display: block"></textarea>
</div>
  </div>
</div>
