<div>
  <div ng-hide="termDetails">
    <img ng-src="{{app_static_path + '/images/spinner.gif'}}"></img>
Loading details ...
  </div>
  <div ng-show="termDetails" id="ferret-term-details" class="ng-cloak">
    <div class="curs-box">
    <div id="ferret-help-step-1" class="inline-help curs-box-title">
      Please read the term definition to ensure that it accurately describes
      your {{annotationType.feature_type || 'feature'}}
    </div>
    <div class="curs-box-body">
      <external-term-links term-id="termDetails.id"></external-term-links>

      <term-definition-display term-details="termDetails"
                               matching-synonym="matchingSynonym"></term-definition-display>
    </div>
    </div>

    <div ng-show="termDetails && termDetails.children.length > 0" id="ferret-term-children">
      <term-children-display term-details="termDetails" goto-child-callback="gotoChild(childId)"></term-children-display>

      <div class="curs-box">
      <div class="inline-help curs-box-title">
        If you need a more specific term to describe the experiment you are
        annotating, and if none of terms above is appropriate, you can
        suggest a new term:
      </div>
      <div id="ferret-suggest-link" class="curs-box-body">
        <ul>
          <li>
            <a ng-click="openTermSuggestDialog(featureDisplayName)">
              Suggest a new child term for <span class="ferret-term-id-display">{{termDetails.id}}</span> ...
            </a>
          </li>
        </ul>
      </div>
      </div>
    </div>

    <div class="ng-cloak curs-box" ng-hide="termDetails.children && termDetails.children.length > 0" id="ferret-leaf">
      <div id="ferret-help-step-2-suggest" class="inline-help curs-box-title">
        The currently selected term has no children. If you need a more specific
        term to describe the experiment you are annotating, please follow the
        link below to suggest it:
        <a id="ferret-help-step-2-suggest-help" class="canto-more-button" href='#'>more ...</a>

        <div id="ferret-help-step-2-suggest-help-target" class="ferret-more-help">
          <div>
            You may need a new term if the biology you are describing is not defined
            by existing terms in a way that will distinguish it from related
            {{annotationType.very_short_display_name}} terms. Sometimes this will be
            a novel {{annotationType.short_display_name}} which has not been
            previously described, and so is not yet included in the ontology.
          </div>
        </div>
      </div>
      <div id="ferret-suggest-link-leaf" class="curs-box-body">
        <ul>
          <li>
            <a ng-click="openTermSuggestDialog(featureDisplayName)">
              Suggest a new child term for <span class="ferret-term-id-display">{{termDetails.id}}</span> ...
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="ferret-accept-term-proceed-message">
      Otherwise, use the currently selected term:
    </div>
  </div>
</div>
