<div>
  <div ng-hide="annotationType">
    <img ng-src="{{app_static_path + '/images/spinner.gif'}}"></img>
Loading ...
  </div>
  <div ng-show="annotationType" class="curs-box evidence-select">
    <div class="curs-box-title">
      Choose evidence <span ng-show="annotationType.can_have_conditions">and conditions</span> for annotating {{featureDisplayName}} with {{data.term_ontid}}
    </div>
    <div class="curs-box-body">
      <annotation-evidence evidence-code="data.evidence_code"
                           conditions="data.conditions"
                           with-gene-id="data.with_gene_id"
                           valid-evidence="data.validEvidence"
                           annotation-type-name="{{annotationType.name}}"></annotation-evidence>
    </div>
  </div>

  <button type="submit" class="btn btn-primary curs-back-button"
          title="&lt;- Back"
          ng-click="unconfirmTerm()">&lt;- Back</button>
  <button type="submit" class="btn btn-primary curs-finish-button"
          ng-disabled="!isValid()"
          ng-click="setEvidence(data)" >Proceed -&gt;</button>

</div>
