<div class="curs-select-interaction-annotations">
  <div class="modal-header">
    <h4 class="modal-title">
      Select affected phenotypes of {{data.objectGenotype.display_name}}
    </h4>
  </div>

  <div class="modal-body curs-annotation-select-dialog">
    <annotation-table annotation-type-name="{{data.annotationType.name}}"
                      annotations="data.filteredAnnotations"
                      feature-status-filter="selecting"
                      show-menu="false"
                      show-checkboxes="true"
                      show-features="false"
                      checkboxes-changed="selectionChanged(annotationIds)"
                      show-metagenotype-link="false">
    </annotation-table>

    <div>
      Add a new phenotype annotation for {{data.objectGenotype.display_name}}:
      <button ng-click="addPhenotypeAnnotation()"
              class="btn btn-default btn-sm">Add ...</button>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-alt-enter="ok()"
            title="{{ okButtonTitleMessage() }}"
            ng-disabled="!canSelect()">OK</button>
  </div>
</div>
