<div>
  <div class="error_message" ng-if="data.serverError">
    Error: {{data.serverError}}
  </div>
<div ng-if="!data.serverError">
  <div ng-if="data.waitingForServer">
    <img ng-src="{{app_static_path + '/images/spinner.gif'}}"></img>
  </div>

  <div ng-if="!data.waitingForServer">
    <div ng-show="data.filteredGenotypes.length > 0">
      <div ng-show="shouldShowAll()">
        <genotype-list-view genotype-list="data.filteredGenotypes"></genotype-list-view>
        <a ng-show="data.filteredGenotypes.length > 1" ng-click="hideAll()"
           style="font-size: 80%; ">Hide list</a>
      </div>
      <div ng-hide="shouldShowAll()">
        <div>
          This session has
<span ng-show="data.filteredGenotypes.length > 1">{{data.filteredGenotypes.length}} genotypes that include this gene. </span>
<span ng-show="data.filteredGenotypes.length == 1">a genotype that includes this gene.</span>
        </div>
        <div>
          <a ng-click="showAll()">View list</a>
        </div>
      </div>
    </div>
    <div ng-show="data.filteredGenotypes.length == 0">
      This gene is not part of a genotype in this session
    </div>
  </div>
</div>
</div>
