<div>
  <script type="text/ng-template" id="strainPickerItemTemplate.html">
    <a>
        <span ng-bind-html="match.model.strain_name | uibTypeaheadHighlight:query"></span>
        <div class="curs-strain-synonyms" ng-if="match.model.synonyms.length > 0">
          <span class="curs-strain-synonyms-title">synonyms:</span>
          <span ng-repeat="synonym in match.model.synonyms">
            <span ng-bind-html="synonym | uibTypeaheadHighlight:query"></span><span ng-if="!$last">, </span>
          </span>
        </div>
    </a>
  </script>
  <div ng-if="data.sessionStrains && data.strains">
    <div class="curs-strain-tag-container">
      <span ng-repeat="strain in data.sessionStrains track by $index" class="curs-strain-tag btn-group btn-group-xs">
        <span class="curs-strain-tag-name btn fake"
              ng-class="strain.is_custom ? 'btn-warning' : 'btn-default'">{{strain.strain_name}}</span>
        <button ng-if="!readOnlyMode"
                type="button"
                class="curs-strain-tag-delete btn"
                ng-class="strain.is_custom ? 'btn-warning' : 'btn-default'"
                title="Delete strain"
                ng-click="remove(strain.strain_name)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
    <div ng-if="!readOnlyMode">
      <form ng-submit="addStrain()">
        <input ng-model="data.selectedStrain"
               placeholder="Type a strain name"
               uib-typeahead="strain as strain.strain_name for strain in data.strains | filter:strainFilter"
               typeahead-min-length="0"
               typeahead-on-select="changed()"
               typeahead-focus-on-select="false"
               typeahead-focus-first="false"
               typeahead-editable="true"
               typeahead-template-url="strainPickerItemTemplate.html"
               typeahead-wait-ms="2">
        <input class="btn btn-primary btn-xs" type="submit" value="Add strain" ng-disabled="!data.selectedStrain">
        <button type="button"
                class="btn btn-primary btn-xs"
                ng-click="addUnknownStrain()"
                ng-disabled="unknownStrainAdded">
          Unknown strain
        </button>
      </form>
    </div>
  </div>
</div>
