<div>
  <div ng-if="data.sessionStrains && data.strains">
    <div>
        <span ng-repeat="st in data.sessionStrains track by $index" class="curs-strain-tag btn-primary btn-xs">
            <span style="cursor: pointer;"
            ng-click="remove(st.strain_name)">{{st.strain_name}} <span style="color: red;">x</span></span>
        </span>
    </div>
    <div style="width:280px;">
      <input ng-model="data.selectedStrain"
             uib-typeahead="strain.strain_name for strain in data.strains | filter:$viewValue"
             typeahead-min-length="0"
             typeahead-on-select="changed()"
             typeahead-editable="true">
    </div>
  </div>
</div>
