<div>
    <div>
        <span ng-repeat="st in sessionStrains(taxonId) track by $index" class="btn-primary btn-xs" style="margin: 2px; float: left;">
            <span style="cursor: pointer;" ng-click="remove(st.strain_name)">{{st.strain_name}} <span style="color: red;">x</span></span>
        </span>
    </div>
    <div style="width:280px;">
        <select ng-model="data.strainSelector" ng-change="changed()">
            <optgroup>
                <option disabled>Add experimental strains for this organism</option>
            </optgroup>
            <optgroup label="-----------------------------">
                <option>Type a new strain</option>
            </optgroup>
            <optgroup label="-----------------------------">
                <option>Unknown strain used</option>
            </optgroup>
            <optgroup label="-----------------------------">
                <option ng-repeat="st in data.strains track by $index">{{st.strain_name}}</option>
            </optgroup>
        </select>
        <div ng-hide="hideTypeStrain()">
                <input style="display: inline" ng-model="typeStrain" type="text" placeholder="Type strain name">
                <button ng-click="addStrain()" style="display: inline" type="button" class="btn btn-success btn-xs">Add +</button>
            </div>
    </div>
</div>