<div class="curs-summary-gene-container">
  <div class="curs-summary-gene-column" ng-repeat="role in organismRoles track by $index">
    <b ng-if="role !== 'normal'">{{ ::getRoleHeading(role) }}</b>
    <div class="curs-summary-organism-container" ng-repeat="organism in organisms[role]">
      <span title="NCBI taxon ID: {{ ::organism.taxonid }}">{{ ::organism.full_name }}</span>
      <div class="curs-summary-gene-list" ng-if="organism.genes.length === 0">
        <span class="curs-summary-no-gene-text">(no genes)<span>
      </div>
      <div class="curs-summary-gene-list" ng-if="organism.genes.length > 0">
        <div class="curs-summary-gene-name-container" ng-repeat="gene in organism.genes">
          <a href="{{ ::getGeneUrl(gene) }}">{{ ::gene.display_name }}</a>
      </div>
    </div>
  </div>
</div>
