<div class="curs-box-body">
  <table class="table">
    <tr>
      <th>Pathogens</td>
      <th>Genes</td>
      <td ng-repeat="pad in getPadding() track by $index"></td>
    </tr>
    <tr summary-page-gene-row ng-repeat="org in organisms('pathogen')" organism="org" max-cols="maxCols"></tr>
  </table>
  <br>
   <table class="table">
      <tr>
        <th>Hosts</th>
        <th>Genes</th>
        <td ng-repeat="pad in getPadding() track by $index"></td>
      </tr>
      <tr summary-page-gene-row ng-repeat="org in organisms('host')" organism="org" max-cols="maxCols"></tr>
    </table>
</div>
