<div>
  <div class="modal-header">
    <h4 class="modal-title">
Confirm term
    </h4>
  </div>

  <div class="modal-body">
    <div class="curs-box-body" ng-if="!data.termDetails">
      <img ng-src="{{app_static_path + '/images/spinner.gif'}}"></img>
      Loading ...
    </div>
    <div ng-if="data.termDetails">
      <div ng-if="data.state === 'definition'" class="curs-box-body">
        <div class="inline-help curs-box-title">
          <div ng-if="featureType">
          Please read the term definition to ensure that it accurately
          describes your {{featureType}}
          </div>
          <div ng-if="!featureType">
          Please read the definition to ensure the term is applicable
          </div>
        </div>
        <term-definition-display term-details="data.termDetails"></term-definition-display>
      </div>
      <div ng-if="data.state === 'children'" class="curs-box-body">
        <div ng-if="data.termDetails.children.length == 0" class="inline-help curs-box-title">
          The currently selected term has no children.  Click "Finish" to
          choose the current term.
        </div>
        <div ng-if="data.termDetails.children.length != 0">
          <term-children-display term-details="data.termDetails" goto-child-callback="gotoChild(childId)"></term-children-display>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div ng-if="data.state == 'definition'">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="next()">Next -&gt;</button>
    </div>
    <div ng-if="data.state == 'children'">
      <button class="btn btn-warning" ng-click="back()">&lt;- Back</button>
      <button class="btn btn-primary" ng-click="finish()">Finish</button>
    </div>
  </div>
</div>
