<div class="curs-box">
  <div ng-if="doNotAnnotateCurrentTerm" class="inline-help curs-box-title">
    This term should not be used for direct annotations. Please
    select a more specific term:
  </div>

  <div ng-if="!doNotAnnotateCurrentTerm" class="inline-help curs-box-title">
    Can you use a more specific available term?
  </div>

  <div class="curs-box-body">
    <ul>
      <li ng-repeat="child in termDetails.children">
        <a href="#" ng-click="gotoChild(child.id)"
           title="{{child.definition}}">{{child.name}}
          <img ng-src="{{CantoGlobals.application_root}}/static/images/right_arrow.png"></img>
        </a>
      </li>
    </ul>
  </div>
</div>
