<div>
  <table class="curs-definition-table">
    <tr>
      <td class="title">ID</td>
      <td class="term-id">
        {{termDetails.id}}
      </td>
    </tr>
    <tr>
      <td class="title">Ontology</td>
      <td>{{termDetails.annotation_namespace}}</td>
    </tr>
    <tr>
      <td class="title">Term name</td>
      <td class="term-name">
        {{termDetails.name}}
      </td>
    </tr>
    <tr ng-if="matchingSynonym">
      <td class="title">Matching synonym</td>
      <td>
        {{matchingSynonym}}
      </td>
    </tr>
    <tr>
      <td class="title">Definition</td>
      <td class="term-definition">{{termDetails.definition}}</td>
    </tr>
    <tr ng-show="termDetails.comment">
      <td class="title">Comment</td>
      <td class="term-comment">{{termDetails.comment}}</td>
    </tr>
    <tr ng-if="termDetails.synonyms">
      <td class="title">Synonym<span ng-show="termDetails.synonyms.length != 1">s</span> </td>
      <td>
        <div ng-repeat="synonym in termDetails.synonyms">
          {{synonym.name}} [{{synonym.type}}]
        </div>
      </td>
    </tr>
  </table>
</div>
