name: Canto tests

on:
  push:
    branches: [ master, pombase-release ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: pull base image
      run: docker pull docker.pkg.github.com/pombase/canto/canto-base:v12
    - name: run make test inside a Docker container
      run: ./etc/docker-run-tests.sh
